<table class="table table-hover table-sm">
   <thead>
      <tr>
         <th scope="col">Usuario</th>
         <th scope="col">E-mail</th>
         <th scope="col">Nombres</th>
         <th scope="col">Apellidos</th>
         <th scope="col">Fecha nacimiento</th>
         <th scope="col">Acciones</th>
      </tr>
   </thead>

   <tbody>
      <tr *ngFor="let user of users">
         <td>{{ user.user_name }}</td>
         <td>{{ user.email }}</td>
         <td>{{ user.first_name }}</td>
         <td>{{ user.last_name }}</td>
         <td>{{ user.birth_day }}</td>

         <td>
            <div class="row">
               <div class="col pr-1">
                  <a class="btn btn-primary btn-sm btn-block" routerLink="/form-user-data/{{ user.id }}">Editar</a>
               </div>

               <div class="col pl-1">
                  <button type="button" class="btn btn-danger btn-sm btn-block" (click)="destroy(user.id)">Eliminar</button>
               </div>
            </div>
         </td>
      </tr>
   </tbody>
</table>
