#section_one {
   width: 100%;
   min-height: 500px;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: auto auto;
   overflow: hidden;

   @media screen and (max-width: 575px) {
      background-image: url("src/assets/body-component/images/section_one_576.jpg");
   }

   @media screen and (max-width: 991px) {
      background-image: url("src/assets/body-component/images/section_one_992.jpg");
   }

   @media screen and (min-width: 992px) {
      background-image: url("src/assets/body-component/images/section_one_background_image.jpg");
   }

   #search_group {
      width: 740px;
      max-width: 100%;
      margin-top: 50px;
      padding: 20px 40px;
      background-color: #003c68e6;
      border-radius: 5px;
   }

   #search_input::placeholder {
      color: #999;
      opacity: 1;
   }

   #search_button, #search_button_join_for_free {
      background-color: #2196f3;
      border-color: #2196f3;
      /*width: 166px;*/
      height: 50px;
   }
}

input.ng-pristine.ng-valid.ng-touched {
   background-color: white !important;
   padding: 24px 0 !important;
}

#section_two {
   background-color: #003c68 !important;
   height: 150px;
   overflow: hidden;

   .text-discover {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
   }
}

#section_three {
   overflow: hidden;

   img {
      min-height: 110px;
      max-height: 110px;
   }
}

#section_four {
   width: 100%;
   min-height: 600px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;

   @media screen and (max-width: 575px) {
      background-image: url("src/assets/body-component/images/section_four_576.jpg");
   }

   @media screen and (max-width: 991px) {
      background-image: url("src/assets/body-component/images/section_four_992.png");
   }

   @media screen and (min-width: 992px) {
      background-image: url("src/assets/body-component/images/section_four_background_image.jpg");
   }

   .container {
      min-height: 700px;

      .row {
         min-height: 700px;
      }
   }

   h1 {
      font-size: 3rem;
      font-weight: bold;
      letter-spacing: 5px;
   }

   p {
      font-size: 1.5rem;
      letter-spacing: 1px;
      font-weight: bold;
   }
}

.onFooter {
   background-color: #2196f3;
   width: 100%;
   height: 144px;
}

.onFooter h4 {
   padding-left: 90px;
   padding-top: 30px;
   font-size: 30px;
   font-family: 'Poppins', sans-serif !important;
   color: white;
}

.onFooter1 {
   background-color: #2196f3;
   align-items: center;
   padding-top: 40px;
}

.btnOnFooter {
   background-color: transparent;
   border-color: white;
   width: 165px;
   height: 45px;
}

#section_two h1 {
   font-weight: 700;
   font-size: 36px;
}

.text-tell {
   font-size: 20px;
}

.text-muted {
   font-family: 'Muli', sans-serif;
   font-size: 14px;
   line-height: 21px;
   color: #848484;
   font-weight: 400;
}

h4 {
   font-family: 'Poppins', sans-serif;
   margin-top: 0;
   font-weight: 700;
   color: #222222;
}
