<section id="section_one" class="d-flex align-items-center justify-content-center p-3">
   <div id="search_group">
      <div class="row">
         <div class="col-12">
            <p class="text-white text-center" style="font-size: 20px;">Discover higher education programs and online courses worldwide.</p>
         </div>
      </div>

      <div class="row mb-4">
         <div class="col-9 pr-0">
            <div class="form-group">
               <div class="ng-autocomplete ng-autocomplete-body">
                  <ng-autocomplete
                     [data]="discipline"
                     [searchKeyword]="fieldDisciplineKeyword"
                     [(ngModel)]="searchFieldData"
                     (selected)="selectDisciplineEvent($event)"
                     (inputCleared)="onClearedDiscipline()"
                     [itemTemplate]="itemTemplateDiscipline"
                     (keyup.enter)="simulateClickSearchButton()"
                     placeHolder="What do you want to study?">
                  </ng-autocomplete>

                  <ng-template #itemTemplateDiscipline let-item>
                     <a [innerHTML]="item.name_discipline"></a>
                  </ng-template>

                  <!--
                  <ng-template #notFoundTemplateDiscipline let-notFound>
                     <div [innerHTML]="">Not found</div>
                  </ng-template>
                  -->
               </div>
            </div>
         </div>

         <div class="col-3 pl-0">
            <button
               id="search_button"
               class="btn btn-primary btn-block"
               style="border-radius: 0 .25rem .25rem 0"
               routerLink="/search/{{ searchFieldData && searchFieldData['name_discipline'] ? searchFieldData['name_discipline'] : searchFieldData }}">

               <i class="fa fa-search d-block d-sm-none"></i>

               <span class="d-none d-sm-block font-weight-normal">SEARCH</span>
            </button>
         </div>
      </div>


      <div class="row d-flex justify-content-center">
         <div class="col-sm-12 col-md-9 d-flex align-items-center justify-content-center">
            <p class="text-white text-tell text-center mb-0" style="font-size: 16px; font-family: 'Muli', sans-serif;">
               Complete your profile and get personalized search results.
            </p>
         </div>

         <div class="pl-lg-0 col-sm-12 col-md-3 mt-3 mt-lg-0" *ngIf="!loggedIn">
            <button
               id="search_button_join_for_free"
               class="btn btn-primary btn-block rounded-right"
               data-toggle="modal"
               data-target="#exampleModal">

               JOIN FOR FREE
            </button>
         </div>
      </div>
   </div>
</section>


<section id="section_two" class="d-flex justify-content-center align-items-center">
   <h1 class="text-discover text-white text-center pl-5 pr-5 d-none d-sm-block">
      In a world full of study opportunities, find the right one for you.
   </h1>

   <h4 class="text-discover text-white text-center pt-3 pb-3 pl-2 pr-2 d-block d-sm-none">
      In a world full of study opportunities, find the right one for you.
   </h4>
</section>


<section id="section_three" class="pb-4">
   <div class="container pb-5">
      <h1 class="m-5 text-center font-weight-bold d-none d-sm-block">Get the Most out of Golondrix</h1>

      <h4 class="m-3 text-center font-weight-bold d-block d-sm-none">
         Get the most out of Golondrix
      </h4>

      <div class="row">
         <div class="col-12 col-lg-4 mb-3">
            <article class="border rounded p-4 text-center height-all">
               <img src="assets/body-component/images/icon-form.png" class="img-fluid mb-4" alt=""/>

               <h4 class="mb-3">Create your account </h4>

               <p class="text-muted" style="font-size: 16px;">
                  Join for free to read more about each program, save your favorites and compare them.
               </p>
            </article>
         </div>

         <div class="col-12 col-lg-4 mb-3">
            <article class="border rounded p-4 text-center height-all">
               <img src="assets/body-component/images/icon-persona.png" class="img-fluid mb-4"/>

               <h4 class="mb-3">Complete your profile </h4>

               <p class="text-muted" style="font-size: 16px;">
                  Tell us about yourself and get personalized search results.
               </p>
            </article>
         </div>

         <div class="col-12 col-lg-4 mb-3">
            <article class="border rounded p-4 text-center height-all">
               <img src="assets/body-component/images/icono-mundo.png" class="img-fluid mb-4"/>

               <h4 class="mb-3">Discover</h4>

               <p class="text-muted" style="font-size: 16px;">
                  Find study opportunities worldwide and filter the search results according to your preferences.
               </p>
            </article>
         </div>
      </div>


      <div class="row">
         <div class="col-12">
            <h4 class="text-center mt-5 mb-0">Over 450,000 worldwide higher education programs and online courses.</h4>
         </div>
      </div>


      <div class="row">
         <div class="col-12 pt-3">
            <div class="container-fluid pt-5">
               <div class="row justify-content-md-center align-items-center">
                  <div class="col-12 col-lg-3">
                     <article class="text-center">
                        <h1 class="mb-5 counter">475,608</h1>

                        <p>Study Programs</p>
                     </article>
                  </div>

                  <div class="col-12 col-lg-3">
                     <article class="text-center">
                        <h1 class="mb-5 counter">3,631</h1>

                        <p>Institutions</p>
                     </article>
                  </div>

                  <div class="col-12 col-lg-3">
                     <article class="text-center">
                        <h1 class="mb-5 counter">787</h1>

                        <p>Cities</p>
                     </article>
                  </div>

                  <div class="col-12 col-lg-3">
                     <article class="text-center">
                        <h1 class="mb-5 counter">112</h1>

                        <p>Countries</p>
                     </article>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<section id="section_four" class="d-flex justify-content-center align-items-center"></section>

<div class="row d-none d-sm-flex" *ngIf="!loggedIn && false">
   <div class="col-9 onFooter">
      <h4>The Easiest Way To Discover Thousands Of Study Options<br> Worldwide.</h4>
   </div>

   <div class="col-3 onFooter1">
      <button type="button" class="btn  text-white mr-2 btnOnFooter" data-toggle="modal" data-target="#modal_log_in">
         GET STARTED
      </button>
   </div>
</div>


<app-footer></app-footer>
