<div id="content">
   <section id="menu_lateral" class="pt-3 pb-3 pl-4 pr-4 {{ showOrHideFilters ? 'showFilters' : '' }}" *ngIf="favorites && favorites.length > 0">
      <div class="d-flex align-items-center flex-column height-all">
         <div class="text-center">
            <h4 class="mb-4">Favorites</h4>
         </div>

         <div class="mb-3 height-all width-all" style="overflow-y: auto; overflow-x: hidden;">
            <div class="row">
               <div class="col-12 p-0">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                     <a
                        class="nav-link text-secondary mb-3 ml-3 mr-3 {{ selectedFavorite == favorite['id'] ? 'active' : '' }}"
                        data-toggle="pill"
                        href="#v-pills-home"
                        role="tab"
                        aria-controls="v-pills-home"
                        aria-selected="true"
                        style="position: relative;"
                        *ngFor="let favorite of favorites"
                        (click)="selectedFavorite = favorite['id']; showOrHideFilters = false;">

                        <p class="mb-1 small">{{ favorite['name_course'] }}</p>

                        <span class="small">{{ favorite['updated_at'] }}</span>

                        <button type="button" class="close" (click)="deleteFavorite(favorite)">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </a>
                  </div>
               </div>
            </div>
         </div>

         <div class="mt-auto width-all">
            <button class="btn btn-primary btn-block" routerLink="/search">SEARCH</button>
         </div>
      </div>
   </section>


   <section id="results" class="pb-3">
      <div class="container">
         <ng-container *ngFor="let course of favorites">
            <div class="col-12 mb-5 rounded p-0" *ngIf="selectedFavorite == null || course['id'] == selectedFavorite">
               <div class="card">
                  <div class="card-header bg-white font-weight-bold p-2 text-center border-bottom-0">
                     <h4 class="mb-0">{{ course['name_course'] }}</h4>
                  </div>

                  <div class="card-body">
                     <div class="row">
                        <div class="col-12 d-flex p-0 pl-2 text-center justify-content-center mb-3" *ngIf="course['url'] != null">
                           <img src="{{ course['url'] }}" alt="" class="img-fluid align-self-center" style="max-height: 100px;">
                        </div>

                        <div class="col-12">
                           <h5 class="font-weight-bold text-center" [innerHTML]="course['name_institution']"></h5>

                           <p class="mb-0 text-muted text-center small" [innerHTML]="course['description_course']"></p>
                        </div>
                     </div>

                     <section class="see-more mt-4">

                        <div class="row">
                           <div class="col-12 col-lg-4">
                              <article class="border rounded p-4 text-center height-all bg-light">
                                 <i class="fa fa-money icon-course-information-detail mb-3" aria-hidden="true"></i>

                                 <h5 class="mb-2">Tuition Fee</h5>

                                 <p class="text-info mb-0" *ngIf="course['type'] !== 'Platzi'">{{ course['tuition_fee_value'] + ' ' + course['tuition_fee_currency'] + '/' + course['tuition_fee_unit'] }}</p>
                                 <p class="text-info mb-0" *ngIf="course['type'] === 'Platzi'">Subscription</p>
                              </article>
                           </div>

                           <div class="col-12 col-lg-4">
                              <article class="border rounded p-4 text-center height-all bg-light">
                                 <i class="fa fa-clock-o icon-course-information-detail mb-3" aria-hidden="true"></i>

                                 <div class="row">
                                    <div class="col-6 text-right p-1">
                                       <h5 class="mb-0">Attendance:</h5>
                                    </div>

                                    <div class="col-6 text-left p-1">
                                       <p *ngIf="course['density_fulltime']" class="text-info mb-0">Full-Time</p>
                                       <p *ngIf="course['density_parttime']" class="text-info mb-0">Part-Time</p>
                                    </div>
                                 </div>

                                 <div class="row" *ngIf="course['duration']">
                                    <div class="col-6 text-right p-1">
                                       <h5 class="mb-0">Duration:</h5>
                                    </div>

                                    <div class="col-6 text-left p-1">
                                       <p class="text-info mb-0">{{ course['duration'] }} Months</p>
                                    </div>
                                 </div>
                              </article>
                           </div>

                           <div class="col-12 col-lg-4">
                              <article class="border rounded p-4 text-center height-all bg-light">
                                 <i class="fa fa-graduation-cap icon-course-information-detail mb-3" aria-hidden="true"></i>

                                 <h5 class="mb-2">Mode</h5>

                                 <p class="text-info mb-0" *ngIf="course['methods_face2face']">Face2Face</p>

                                 <p class="text-info mb-0" *ngIf="course['methods_online']">Online</p>

                                 <p class="text-info mb-0" *ngIf="course['methods_blended']">Blended</p>
                              </article>
                           </div>
                        </div>

                        <div class="row mt-4">
                           <!--
                           <div class="col-12" *ngIf="course['full_description'] != null && course['full_description'] != ''">
                              <h5 class="font-weight-bold">About</h5>

                              <p class="text-muted small" [innerHTML]="course['full_description']"></p>
                           </div>

                           <div class="col-12" *ngIf="course['requirements'] != null && course['requirements'] != ''">
                              <h5 class="font-weight-bold">Requirements</h5>

                              <p class="text-muted small" [innerHTML]="course['requirements']"></p>
                           </div>
                           -->

                           <div class="col-12 text-center">
                              <a class="btn btn-primary golondrix-blue" *ngIf="course['type'] != 'Edx' && course['url_university']" [href]="course['url_university']" target="_blank">Visit Program Website</a>

                              <a class="btn btn-primary golondrix-blue" *ngIf="course['type'] == 'Edx' && course['url_curso']" [href]="courseEdxFormatURL(course['url_curso'])" target="_blank">Visit Program Website</a>
                           </div>
                        </div>
                     </section>
                  </div>

                  <div class="card-footer bg-white p-2 border-top-0" *ngIf="false">
                     <div class="row">
                        <div class="col-2">
                           <button class="btn btn-info btn-block btn-sm mr-3" (click)="course['showSeeMore'] = !course['showSeeMore']">
                              SEE {{ course['showSeeMore'] ? 'LESS' : 'MORE' }}
                           </button>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </ng-container>

         <ng-container *ngIf="showNotResults && (!favorites || favorites.length == 0)">
            <div class="col-12 mb-4 text-center">
               <img src="../../../assets/search-component/images/not_results_image.png" alt="" class="img-fluid" style="height: 250px; max-height: calc(100vh - 200px);" />
            </div>

            <div class="col-12 text-center mb-4">
               <p class="lead font-weight-bold mb-2">Sorry! we haven’t found programs with your specifications.</p>
               <p class="lead text-muted">Try again with different filters. We will find the right options for you!</p>
            </div>

            <div class="col-12 text-center">
               <button class="btn btn-primary" routerLink="/search">SEARCH AGAIN</button>
            </div>
         </ng-container>
      </div>
   </section>
</div>


<div class="spinner-border" role="status" *ngIf="!showNotResults">
   <span class="sr-only">Loading...</span>
</div>

<button id="showOrHideFilters" class="btn btn-default btn-light border-right border-bottom border-secondary" (click)="showOrHideFilters = !showOrHideFilters">
   <i [class]="'fa fa-angle-' + (showOrHideFilters ? 'left' : 'right')"></i>
</button>
