footer {
   /*display: none;*/
   min-width: 100%;
   max-width: 100%;
   background-color: #003C68;
   overflow: hidden;

   .btn-footer-social-media {
      min-width: 40px;
      max-width: 40px;
      min-height: 40px;
      max-height: 40px;
   }

   .fa {
      line-height: 27px !important;
   }
}


#container_cookies_message {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #2196f3;
   color: #FFFFFF;

   a {
      color: #FFFFFF;
      text-decoration: underline;
   }

   button {
      background-color: #FFFFFF;
      color: #2196f3;
   }
}
