<footer class="py-2 text-white text-center pt-3 pb-3">
   <div class="row">
      <div class="col-12">
         <p>
            <a routerLink="/page-information/terms_of_use" class="text-info">TERMS OF USE</a>
            <span class="ml-2 mr-2">|</span>
            <a routerLink="/page-information/privacy_policy" class="text-info">PRIVACY POLICY</a>
            <span class="ml-2 mr-2">|</span>
            <a routerLink="/page-information/cookies_policy" class="text-info">COOKIES POLICY</a>
            <span class="ml-2 mr-2">|</span>
            <a routerLink="/page-information/faq_for_students" class="text-info">FAQ FOR STUDENTS</a>
            <span class="ml-2 mr-2">|</span>
            <a routerLink="/page-information/contact_us" class="text-info">CONTACT US</a>
         </p>
      </div>

      <div class="col-12">
         <p>Copyright © 2019. All Rights Reserved by Golondrix INC.</p>
      </div>

      <div class="col-12 mt-4">
         <a href="https://www.facebook.com/Golondrix" target="_blank" class="btn btn-outline-info rounded-circle btn-footer-social-media">
            <i class="fa fa-facebook text-white"></i>
         </a>

         <span class="m-3"></span>

         <a href="https://twitter.com/golondrix" target="_blank" class="btn btn-outline-info rounded-circle btn-footer-social-media">
            <i class="fa fa-twitter text-white"></i>
         </a>

         <span class="m-3"></span>

         <a href="https://www.instagram.com/Golondrix" target="_blank" class="btn btn-outline-info rounded-circle btn-footer-social-media">
            <i class="fa fa-instagram text-white"></i>
         </a>

         <span class="m-3"></span>

         <a href="https://www.linkedin.com/company/golondrix" target="_blank" class="btn btn-outline-info rounded-circle btn-footer-social-media">
            <i class="fa fa-linkedin text-white"></i>
         </a>
      </div>
   </div>
</footer>


<div id="container_cookies_message" class="pl-4 pr-3 pt-3 pb-3" *ngIf="showContainerCookiesMessage">
   <div class="row">
      <div class="col-12 col-lg-11 d-flex align-items-center text-center text-lg-left">
         <p class="mb-0 font-weight-normal">
            We use cookies to ensure that we give you the best and most personalized experience. By continuing you accept this
            <a class="cursor-pointer" routerLink="/page-information/cookies_policy">COOKIES POLICY</a>
         </p>
      </div>

      <div class="col-12 col-lg-1 mt-3 mt-lg-0 text-center">
         <button class="btn" (click)="acceptCookies()">Got it!</button>
      </div>
   </div>
</div>
