<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top pl-0 pr-0">
   <div class="container">
      <h1 class="navbar-brand cursor-pointer ml-3" routerLink="/">Golondrix</h1>

      <button
         class="navbar-toggler mr-3"
         type="button"
         data-toggle="collapse"
         data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent"
         aria-expanded="false"
         aria-label="Toggle navigation">

         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse p-3" id="navbarSupportedContent">
         <div class="row d-flex d-sm-none" *ngIf="!loggedIn">
            <div class="col-6">
               <button
                  type="button"
                  class="btn btn-outline-info btn-block text-white"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  (click)="loginTypeNormal = true">

                  JOIN FOR FREE
               </button>
            </div>

            <div class="col-6">
               <button
                  type="button"
                  class="btn btn-outline-info btn-block text-white"
                  data-toggle="modal"
                  data-target="#modal_log_in"
                  (click)="loginTypeNormal = false">

                  LOG IN
               </button>
            </div>
         </div>

         <div class="row d-flex d-sm-none" *ngIf="loggedIn">
            <div class="col-4 text-center">
               <a class="nav-link text-white font-weight-bold" routerLink="/favorites">Favorites</a>
            </div>

            <div class="col-4 text-center">
               <a class="nav-link text-white font-weight-bold" routerLink="/history">History</a>
            </div>

            <div class="col-4 d-flex justify-content-center align-items-center">
               <img
                  *ngIf="avatar != null"
                  src="{{ avatar }}"
                  id="image-profile"
                  class="img-fluid rounded-circle cursor-pointer"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  alt=" "
               />

               <i
                  *ngIf="avatar == null"
                  class="fa fa-user-circle img-fluid rounded-circle cursor-pointer text-white"
                  id="icon-profile"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
               </i>

               <p class="text-white p-2 m-0">{{ userName }}</p>

               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="image-profile">
                  <a class="dropdown-item" routerLink="/form-user-data">My account</a>
                  <a class="dropdown-item" routerLink="/" (click)="signOut()">Log out</a>
               </div>
            </div>
         </div>

         <ul class="navbar-nav mr-auto"></ul>

         <div class="form-inline my-2 my-lg-0 d-none d-sm-flex">
            <section id="container_favorites_history" class="{{ loggedIn ? 'mr-3' : 'mr-5' }}">
               <ul class="navbar-nav mr-auto mr-5" *ngIf="loggedIn">
                  <li class="nav-item">
                     <a class="btn btn-outline-info text-white mr-2" routerLink="/favorites" target="_blank">FAVORITES</a>
                  </li>

                  <li class="nav-item">
                     <a class="btn btn-outline-info text-white" routerLink="/history" target="_blank">HISTORY</a>
                  </li>
               </ul>
            </section>

            <section *ngIf="!loggedIn">
               <button
                  type="button"
                  class="btn btn-outline-info text-white mr-2"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  (click)="loginTypeNormal = true">

                  JOIN FOR FREE
               </button>

               <button
                  type="button"
                  class="btn btn-outline-info text-white"
                  data-toggle="modal"
                  data-target="#modal_log_in"
                  (click)="loginTypeNormal = false">

                  LOG IN
               </button>
            </section>


            <section *ngIf="loggedIn" class="dropdown ml-5">
               <img
                  *ngIf="avatar != null"
                  src="{{ avatar }}"
                  id="image-profile"
                  class="img-fluid rounded-circle cursor-pointer"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  alt=" "
               />

               <i
                  *ngIf="avatar == null"
                  class="fa fa-user-circle img-fluid rounded-circle cursor-pointer text-white"
                  id="icon-profile"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
               </i>

               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="image-profile">
                  <a class="dropdown-item" routerLink="/form-user-data">My account</a>
                  <a class="dropdown-item" routerLink="/" (click)="signOut()">Log out</a>
               </div>
            </section>

            <section *ngIf="loggedIn" class="d-flex align-items-center">
               <p class="text-white p-2 m-0">{{ userName }}</p>
            </section>
         </div>
      </div>
   </div>
</nav>


<app-login-form
   [loginTypeNormal]="loginTypeNormal"
   [loggedIn]="loggedIn"
   [avatar]="avatar"
   [idUser]="idUser"
   (masterAuthCheck)="authCheck()">
</app-login-form>
