@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');


nav {
   min-height: 100px;
   max-height: 100px;
   background-color: rgb(0, 60, 104) !important;
   box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);

   .navbar-brand {
      color: #FFFFFF;
      font-family: 'Montserrat', sans-serif;
      font-size: 40px;
      font-weight: bold;
      margin: 0;
   }

   .navbar-brand:focus {
      outline-color: transparent !important;
   }

   .collapse.navbar-collapse {
      background-color: rgb(0, 60, 104) !important;
   }

   .dropdown-menu {
      max-height: 250px;
      overflow-y: auto;

      .dropdown-toggle,
      .dropdown-item {
         cursor: pointer;
      }
   }


   .navbar-toggler:focus, .navbar-toggler:hover {
      outline-color: #2196f3;
   }
}

#image-profile {
   max-height: 32px;
}

#icon-profile {
   font-size: 32px;
}


.btn-outline-info {
   color: #2196f3;
   border-color: #2196f3;
}


.btn-outline-info:hover {
   color: #fff;
   background-color: #2196f3;
   border-color: #2196f3;
}


#container_favorites_history {
   .btn-outline-info {
      color: #FFFFFF;
      border-color: #ee3157 !important;
   }
   
   
   .btn-outline-info:hover {
      background-color: #ee3157 !important;
   }
}
