<div class="modal fade in" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header d-flex justify-content-between align-items-center">
            <button type="button" class="close invisible" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>

            <h5 class="modal-title text-center font-weight-bold">Create your account</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>

         <div class="modal-body">
            <div>
               <div class="row">
                  <div class="col-12">
                     <img src="assets/body-component/images/icon-form.png" class="img-responsive mx-auto d-block" width="80"/>

                     <p class="font-weight-light text-center mt-2">
                        Join us, it is easy and free! By creating your account and completing your profile, we can give you personalized results, those that best match your profile and interests.
                     </p>
                  </div>
               </div>


               <div class="row mt-2 mb-4 pl-4 pr-4">
                  <div class="col text-right">
                     <button style="background-color: #4285f4; letter-spacing: .5px;" type="button" class="btn btn-light border border-secondary btn-login-options text-white btn-block font-weight-bold" title="Google" (click)="signInWithGoogle()">
                        Google
                     </button>
                  </div>

                  <div class="col text-center">
                     <button style="background-color: #3b5998; letter-spacing: .5px;" type="button" class="btn btn-light border border-secondary btn-login-options text-white btn-block font-weight-bold" title="Facebook" (click)="signInWithFB()">
                        Facebook
                     </button>
                  </div>

                  <div class="col text-left" *ngIf="false">
                     <button style="background-color:#007bb5; letter-spacing: .5px;" type="button" class="btn btn-light border border-secondary btn-login-options text-white btn-block font-weight-bold" title="LinkedIn" (click)="signInWithLIN()">
                        Linkedin
                     </button>
                  </div>
               </div>


               <div class="col-12 text-center mb-4">
                  <span class="font-weight-light">OR</span>
               </div>


               <div class="row mt-2 ml-4 mr-4">
                  <div class="col-12">
                     <div class="form-group">
                        <input [(ngModel)]="userData.user_name" type="text" class="form-control" #field_name_one placeholder="User name">
                     </div>
                  </div>

                  <div class="col-12">
                     <div class="form-group">
                        <input [(ngModel)]="userData.email" type="email" class="form-control" id="email" placeholder="E-mail">
                     </div>
                  </div>

                  <div class="col-12 mb-3">
                     <div class="input-group">
                        <input [(ngModel)]="userData.password" type="{{ showPassword ? 'text' : 'password' }}" class="form-control" placeholder="Password">

                        <div class="input-group-append">
                           <button class="btn btn-outline-info" type="button" (click)="showPassword = !showPassword" [title]="showPassword ? 'Hide password' : 'Show password'">
                              <i class="fa {{ showPassword ? 'fa-eye-slash' : 'fa-eye' }}"></i>
                           </button>
                        </div>
                     </div>
                  </div>

                  <div class="col-12">
                     <div class="input-group">
                        <input [(ngModel)]="repeatPassword" type="{{ showPassword ? 'text' : 'password' }}" class="form-control" placeholder="Repeat password">

                        <div class="input-group-append">
                           <button class="btn btn-outline-info" type="button" (click)="showPassword = !showPassword" [title]="showPassword ? 'Hide password' : 'Show password'">
                              <i class="fa {{ showPassword ? 'fa-eye-slash' : 'fa-eye' }}"></i>
                           </button>
                        </div>
                     </div>

                     <small
                        *ngIf="(userData.password && repeatPassword) && userData.password !== repeatPassword"
                        id="emailHelp"
                        class="form-text text-center text-danger">

                        Please, check if your information is correct or if you already have an account with us.
                     </small>
                  </div>
               </div>


               <div class="row">
                  <div class="col-12 text-center">
                     <button class="btn btn-primary mt-4 mb-4" (click)="create(true)" [disabled]="
                           userData.user_name   === null || userData.user_name === '' ||
                           userData.email       === null || userData.email === '' ||
                           userData.password    === null || userData.password === '' ||
                           repeatPassword       === null || repeatPassword === '' ||
                           userData.password    !== repeatPassword
                        ">

                        CREATE ACCOUNT
                     </button>
                  </div>

                  <div class="col-12 text-center">
                     <p class="font-weight-light text-center">
                        Already have an account? <span class="text-info cursor-pointer" (click)="showLogIn()">Log in</span>
                        <br> By signing up to create an account I accept <a class="text-info cursor-pointer" routerLink="/page-information/terms_of_use" target="_blank">Terms of Use</a> and <a class="text-info cursor-pointer" routerLink="/page-information/privacy_policy"
                                                                                                                                                                                                 target="_blank">Privacy Policy.</a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


<div class="modal fade in" id="modal_log_in" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header d-flex justify-content-between align-items-center">
            <button type="button" class="close invisible" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>

            <h5 class="modal-title text-center font-weight-bold">Log in</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>

         <div class="modal-body">
            <div class="row mb-4 pl-4 pr-4">
               <div class="col text-right">
                  <button style="background-color: #4285f4; letter-spacing: .5px;" type="button" class="btn btn-light border border-secondary btn-login-options text-white btn-block font-weight-bold" title="Google" (click)="signInWithGoogle()">
                     Google
                  </button>
               </div>

               <div class="col text-center">
                  <button style="background-color: #3b5998; letter-spacing: .5px;" type="button" class="btn btn-light border border-secondary btn-login-options text-white btn-block font-weight-bold" title="Facebook" (click)="signInWithFB()">
                     Facebook
                  </button>
               </div>

               <div class="col text-left" *ngIf="false">
                  <button style="background-color:#007bb5; letter-spacing: .5px;" type="button" class="btn btn-light border border-secondary btn-login-options text-white btn-block font-weight-bold" title="LinkedIn" (click)="signInWithLIN()">
                     Linkedin
                  </button>
               </div>
            </div>

            <div class="col-12 text-center mb-4">
               <span class="font-weight-light">OR</span>
            </div>

            <div class="row ml-4 mr-4">
               <div class="col-12">
                  <div class="form-group">
                     <input [(ngModel)]="userData.email" (keyup.enter)="create()" #field_email_two type="email" class="form-control" placeholder="E-mail / Username"/>
                  </div>
               </div>

               <div class="col-12">
                  <div class="input-group">
                     <input [(ngModel)]="userData.password" (keyup.enter)="create()" id="field_password_two" type="{{ showPassword ? 'text' : 'password' }}" class="form-control" placeholder="Password"/>

                     <div class="input-group-append">
                        <button class="btn btn-outline-info" type="button" (click)="showPassword = !showPassword" [title]="showPassword ? 'Hide password' : 'Show password'">
                           <i class="fa {{ showPassword ? 'fa-eye-slash' : 'fa-eye' }}"></i>
                        </button>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-12 text-center">
                  <button class="btn btn-primary mt-4 mb-3" (click)="login()" [disabled]="
                        userData.email    === null || userData.email    === '' ||
                        userData.password === null || userData.password === ''
                     ">

                     LOG IN
                  </button>
               </div>

               <div class="col-12 text-center">
                  <p class="font-weight-light text-center">
                     Don´t have an account? <span class="text-info cursor-pointer" (click)="showJoinForFree()">Join for free</span>
                     <br> I agree to the <a class="text-info cursor-pointer" routerLink="/page-information/terms_of_use" target="_blank">Terms of Use</a> and <a class="text-info cursor-pointer" routerLink="/page-information/privacy_policy" target="_blank">Privacy Policy.</a>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


<div class="modal fade" id="modal_notification" tabindex="-1" role="dialog" aria-labelledby="modal_notification" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Notification</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>

         <div class="modal-body">
            <p class="text-muted font-weight-normal text-justify">Your Golondrix account has been created. Tell us about yourself and get personalized search results based on your profile and preferences.</p>
         </div>

         <div class="modal-footer p-2">
            <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" routerLink="/form-user-data">Complete Your Profile</button>
         </div>
      </div>
   </div>
</div>


<div id="form_contact_alert" class="alert alert-{{ ALERT_TYPE }} alert-dismissible fade {{ ALERT_SHOW }}" role="alert">
   {{ ALERT_MESSAGE }}

   <button type="button" class="close" (click)="ALERT_SHOW = ''">
      <span aria-hidden="true">&times;</span>
   </button>
</div>
