<div class="jumbotron p-4">
    <h1 *ngIf="TYPE_INFORMATION == 'terms_of_use'" class="display-4 text-center font-weight-normal">TERMS OF USE</h1>
    <h1 *ngIf="TYPE_INFORMATION == 'privacy_policy'" class="display-4 text-center font-weight-normal">PRIVACY POLICY</h1>
    <h1 *ngIf="TYPE_INFORMATION == 'cookies_policy'" class="display-4 text-center font-weight-normal">COOKIES POLICY</h1>
    <h1 *ngIf="TYPE_INFORMATION == 'faq_for_students'" class="display-4 text-center font-weight-normal">FAQ FOR STUDENTS</h1>
    <h1 *ngIf="TYPE_INFORMATION == 'contact_us'" class="display-4 text-center font-weight-normal">CONTACT US</h1>
</div>


<div class="container">
    <div *ngIf="TYPE_INFORMATION == 'terms_of_use'" class="row mb-5 text-muted small">
        <div class="col-12 text-justify">
            <p>When you visit Golondrix or create an account on the website, you accept the following terms and conditions, privacy policy and cookie policy. The website reserves the right to change these Terms and conditions and policies at any time.</p>
            <p>Golondrix, Inc, a Delaware corporation, referred to “Golondrix” or “the website”, is a search engine for global higher education and continuing education programs. The information provided on Golondrix, is from third parties and cannot be
                considered an offer of products or services. The information of the website is taken automatically from trusted sources, however, it can present inconsistencies and errors. Golondrix is not liable for any inconveniences that may result
                from inaccuracy or incompleteness of the information we present on the website.</p>
            <p class="mb-0">Golondrix provides information about global educational offerings. The website should not be considered as a curator of the quality or service level of any of the courses, programs or institutions. The information we provide are just suggestions,
                it cannot be considered as recommendations and Golondrix is not liable for any inconveniences that the user could have with any of the course/program providers.</p>
        </div>

        <div class="col-12 mt-4 mb-4">
            <hr />
        </div>

        <div class="col-12 text-justify">
            <h4 class="font-weight-normal mb-4">Creating An Account</h4>

            <p class="mb-0">Creating an account on Golondrix is free. You will need to create an account to have access to some of our features and to get personalized information according to your profile. We encourage you that the information provided about yourself
                will be true, complete and up to date so we can provide valuable and accurate information about the educational programs that best suit you.</p>
        </div>

        <div class="col-12 mt-4 mb-4">
            <hr />
        </div>

        <div class="col-12 text-justify">
            <h4 class="font-weight-normal mb-4">Business Deletion</h4>

            <p class="mb-0">We reserve the right to remove any business listings if we feel that they're infringing on any laws or if they contain objectionable material such as adult content (including images, vulgar language, content or links). In such cases, the business
                poster will receive a full refund for the listing.</p>
        </div>

        <div class="col-12 mt-4 mb-4">
            <hr />
        </div>

        <div class="col-12 text-justify">
            <h4 class="font-weight-normal mb-4">Account Security And Responsibility</h4>

            <p>By creating an account on Golondrix, you are responsible for maintaining the confidentiality of your password and are fully responsible for all activities that occur under your account.</p>
            <p class="mb-0">If you suspect that someone else is using your account, please notify us by sending an email to hello@golondrix.com</p>
        </div>

        <div class="col-12 mt-4 mb-4">
            <hr />
        </div>

        <div class="col-12 text-justify">
            <h4 class="font-weight-normal mb-4">Advertisement</h4>

            <p class="mb-0">Golondrix reserves the right to display advertisements on any part of the website.</p>
        </div>

        <div class="col-12 mt-4 mb-4">
            <hr />
        </div>

        <div class="col-12 text-justify">
            <h4 class="font-weight-normal mb-4">Copyright Infringement</h4>

            <p>We reserve the right to remove any search result or content that can be considered inappropriate without having to give any notification to third parties.</p>
            <p class="mb-0">If you consider that any of the website content violates your copyright, please notify us by sending an email to hello@golondrix.com.</p>
        </div>

        <div class="col-12 mt-4 mb-4">
            <hr />
        </div>

        <div class="col-12 text-justify">
            <h4 class="font-weight-normal mb-4">Jurisdiction And Disputes</h4>

            <p class="mb-0">All legal relationships between Golondrix and the user, or with third parties are governed by the laws of Delaware, United States. Any dispute that cannot be settled amicably should be brought before the court with competent jurisdiction in
                Delaware.</p>
        </div>

        <div class="col-12 mt-4 mb-4">
            <hr />
        </div>

        <div class="col-12 text-justify">
            <h4 class="font-weight-normal mb-4">Disclaimer</h4>

            <p class="mb-0">None of our officers, directors, employees, representatives, subsidiaries, partner companies, or others involved in making available the website and its contents will be liable for (i) any inaccurate information about the courses, programs
                or institutions available on the website, or (ii) the services or products offered by the institutions or courses providers, or their business partners.</p>
        </div>
    </div>

    <div *ngIf="TYPE_INFORMATION == 'privacy_policy'" class="row mb-5 text-muted small">
        <div class="col-12 text-justify">
            <p class="mb-0">We collect and process your personal data to provide personalized results about the educational programs that best match your interests and profile.</p>
        </div>

        <div class="col-12 mt-4 mb-4">
            <hr />
        </div>

        <div class="col-12 text-justify">
            <h4 class="font-weight-normal mb-4">We May Collect The Following Information When You Visit The Website:</h4>

            <ul class="mb-0">
                <li>IP address, device specifications, browser type, browser data, cookies, operating system, web- browsing behavior, website interactions.</li>
            </ul>
        </div>

        <div class="col-12 mt-4 mb-4">
            <hr />
        </div>

        <div class="col-12 text-justify">
            <h4 class="font-weight-normal mb-4">We Collect The Following Information When You Create An Account:</h4>

            <ul class="mb-0">
                <li>Name, email, gender, date of birth, demographic information, previous education, work experience, interests, languages, test scores, funding situation, among others.</li>
                <li>IP address, device specifications, browser type, browser data, cookies, operating system, web- browsing behavior, website interactions.</li>
                <li>When you sign-in in the web using a social network account we can have access to your social profile and contact details.</li>
                <li>Other information that you may provide when creating an account or submit a contact form.</li>
            </ul>
        </div>

        <div class="col-12 mt-4 mb-4">
            <hr />
        </div>

        <div class="col-12 text-justify">
            <h4 class="font-weight-normal mb-4">We Use Your Personal Information For The Following Purposes:</h4>

            <ul class="mb-0">
                <li>Showing you personalized results, those that best match your profile and interests Making your search experience more accurate and effective</li>
                <li>Understanding your behavior in the website for user experience improvements, statistical research and identify market trends</li>
                <li>Marketing activities, customizing advertising and courses recommendations</li>
                <li>Notifying you about new courses you may be interested</li>
                <li>Sharing data with partners such as education institutions, job recruiters, among others. Third parties are not allowed to use your personal information for any reason other than marketing or recruitment activities.</li>
            </ul>
        </div>

        <div class="col-12 mt-4 mb-4">
            <hr />
        </div>

        <div class="col-12 text-justify">
            <h4 class="font-weight-normal mb-4">We Use Your Personal Information For The Following Purposes:</h4>

            <p class="mb-0">Golondrix has a lot of links to course provider websites and other third parties websites. Our privacy policy does not cover third parties websites and we cannot be responsible for how they use your data. Read the privacy policies on these
                websites for more information.</p>
        </div>

        <div class="col-12 mt-4 mb-4">
            <hr />
        </div>

        <div class="col-12 text-justify">
            <h4 class="font-weight-normal mb-4">Updating Or Removing Your Personal Data</h4>

            <p class="mb-0">You can update your information by logging in to your account and modifying the data on your profile. If you want us to remove your personal data please send us an email to hello@golondrix.com.</p>
        </div>
    </div>

    <div *ngIf="TYPE_INFORMATION == 'cookies_policy'" class="row mb-5 text-muted small">
        <div class="col-12 text-justify">
            <p>Golondrix uses the information collected through cookies to:</p>

            <ul class="mt-3 mb-3">
                <li>Keeping you logged in to the website</li>
                <li>Remembering your preferences, your searches and the programs you have viewed earlier</li>
                <li>Understanding and saving your interests</li>
                <li>Analyzing how our visitors use the website</li>
                <li>Displaying customized content and advertising based on your interests and previous interactions</li>
            </ul>

            <p>
               You can manage your cookies preferences and set which cookies to accept or to reject. However, if you decide to reject certain cookies, you may not be able to use some tools on the website or some of our functions won’t work properly as we cannot deliver personalized results and content according to your profile and preferences.
            </p>
        </div>
    </div>

    <div *ngIf="TYPE_INFORMATION == 'faq_for_students'" class="row mb-5 text-muted small">
        <div class="col-12 text-justify">
            <h4 class="font-weight-normal mb-4">Why Should I Create My Account?</h4>

            <p class="mb-0">When you create your account we will know you better. Your interests and needs are essential to bring the right results.</p>
        </div>

        <div class="col-12 mt-4 mb-4">
            <hr />
        </div>

        <div class="col-12 text-justify">
            <h4 class="font-weight-normal mb-4">Does Golondrix Have Any Cost For Users?</h4>

            <p class="mb-0">No, Golondrix is a platform that you can use for free.</p>
        </div>

        <div class="col-12 mt-4 mb-4">
            <hr />
        </div>

        <div class="col-12 text-justify">
            <h4 class="font-weight-normal mb-4">From Where Is The Information Coming?</h4>

            <p class="mb-0">Golondrix has the capacity to collect and aggregate the most relevant information from thousands of educational websites from around the world, and organize them in the same user-friendly layout. The results you get when searching are transparent
                and accurate.</p>
        </div>

        <div class="col-12 mt-4 mb-4">
            <hr />
        </div>

        <div class="col-12 text-justify">
            <h4 class="font-weight-normal mb-4">Is There A Way To Compare Easily The Programs I Like The Most?</h4>

            <p class="mb-0">Yes, once you have created your account, you can start searching for free and select the programs that you prefer to store them in Save, where you can compare them. This information is useful for you to make a choice and apply.</p>
        </div>
    </div>

    <div *ngIf="TYPE_INFORMATION == 'contact_us'" class="row justify-content-center text-muted small">
        <div class="col-12 col-lg-6">
            <div class="col-12">
                <div class="form-group">
                    <label for="name">Your name</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="CONTACT_FORM_DATA['name']">
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label for="email">E-mail Address</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="CONTACT_FORM_DATA['email']">
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label for="comments">Comments</label>
                    <textarea class="form-control overflow-auto" id="comments" rows="5" style="resize: none;" [(ngModel)]="CONTACT_FORM_DATA['comments']">
               </textarea>
                </div>
            </div>

            <div class="col-12 text-left mb-5">
                <button class="btn btn-outline-primary btn-block" (click)="sendFormContact()" [disabled]="
                  CONTACT_FORM_DATA['name'] == null || CONTACT_FORM_DATA['name'] == '' ||
                  CONTACT_FORM_DATA['email'] == null || CONTACT_FORM_DATA['email'] == '' ||
                  CONTACT_FORM_DATA['comments'] == null || CONTACT_FORM_DATA['comments'] == ''
               ">

               SEND MESSAGE
               <span *ngIf="_SHOW_CONTACT_BUTTON_SPINNER" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
            </div>
        </div>


        <div id="form_contact_alert" class="alert alert-{{ ALERT_TYPE }} alert-dismissible fade {{ ALERT_SHOW }}" role="alert">
            {{ ALERT_MESSAGE }}

            <button type="button" class="close" (click)="ALERT_SHOW = ''">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>


<app-footer></app-footer>
