<div id="content">
   <section id="menu_lateral" class="pt-3 pb-3 pl-4 pr-4 {{ showOrHideFilters ? 'showFilters' : '' }}">
      <div class="d-flex align-items-center flex-column height-all">
         <h4 class="font-weight-bold">My Profile</h4>

         <div class="mb-1 text-center">
            <img src="{{ userData.avatar }}" style=" max-width: 100%; max-height: 200px;" class="rounded-circle" *ngIf="userData.avatar != null" alt=""/>

            <i *ngIf="userData.avatar == null" class="fa fa-user-circle img-fluid rounded-circle cursor-pointer" id="icon-profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 70px;">
            </i>
         </div>


         <div class="text-center">
            <h5>{{ userData.user_name }}</h5>

            <p class="small lead" (click)="uploadAvatar()">
               <i class="fa fa-upload cursor-pointer" style="font-size: 20px;"></i>
            </p>

            <input type="file" id="upload-avatar" (change)="functionChange()" style="display: none"/>
         </div>


         <div class="width-all mt-4">
            <div class="col-12">
               <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link {{ showForm == 'container_user' ? 'active' : '' }}" data-toggle="pill" href="#v-pills-home" role="tab" aria-selected="true" (click)="showForm = 'container_user';showOrHideFilters = false;">
                     User
                  </a>

                  <a class="nav-link {{ showForm == 'container_previous_studies' ? 'active' : '' }}" data-toggle="pill" href="#v-pills-profile" role="tab" aria-selected="false" (click)="showForm = 'container_previous_studies';showOrHideFilters = false;">
                     Previous studies
                  </a>

                  <a class="nav-link {{ showForm == 'container_languages' ? 'active' : '' }}" data-toggle="pill" href="#v-pills-messages" role="tab" aria-selected="false" (click)="showForm = 'container_languages';showOrHideFilters = false;">
                     Languages
                  </a>

                  <a class="nav-link {{ showForm == 'container_tests' ? 'active' : '' }}" data-toggle="pill" href="#v-pills-settings" role="tab" aria-selected="false" (click)="showForm = 'container_tests';showOrHideFilters = false;">
                     Tests
                  </a>

                  <a class="nav-link {{ showForm == 'container_tets' ? 'active' : '' }}" data-toggle="pill" href="#v-pills-settings" role="tab" aria-selected="false" (click)="showForm = 'container_tets';showOrHideFilters = false;">
                     Work experience
                  </a>
               </div>
            </div>
         </div>


         <div class="mt-auto width-all">
            <button class="btn btn-primary btn-block" routerLink="/search">SEARCH</button>
         </div>
      </div>
   </section>


   <section id="results">
      <div class="col-12 mb-0" *ngIf="showForm == 'container_user'" id="container_user">
         <div class="row">
            <div class="col-12 mb-4 p-0 rounded-top">
               <header>
                  <h1 class="text-center mb-0 display-4">User</h1>
               </header>
            </div>

            <div class="col-12 mb-0">
               <div class="row">
                  <div class="col-12 col-lg-6 mb-0">
                     <div class="form-group">
                        <label class="lead text-muted">User name <span class="text-danger">*</span></label>

                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text">
                                 <i class="fa fa-user"></i>
                              </span>
                           </div>

                           <input [(ngModel)]="userData.user_name" type="text" class="form-control" placeholder="Enter username"/>
                        </div>
                     </div>
                  </div>

                  <div class="col-12 col-lg-6 mb-0">
                     <div class="form-group">
                        <label class="lead text-muted">E-mail <span class="text-danger">*</span></label>

                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text">
                                 <i class="fa fa-envelope"></i>
                              </span>
                           </div>

                           <input [(ngModel)]="userData.email" type="email" class="form-control" placeholder="Enter the email"/>
                        </div>
                     </div>
                  </div>

                  <div class="col-12 col-lg-6 mb-0" *ngIf="userData.id_client == 1">
                     <div class="form-group">
                        <label for="password" class="lead text-muted">Change your password</label>

                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text">
                                 <i class="fa fa-lock"></i>
                              </span>
                           </div>

                           <input type="password" class="form-control" placeholder="Enter your password"/>
                        </div>
                     </div>
                  </div>

                  <div class="col-12 col-lg-6 mb-0" *ngIf="userData.id_client == 1">
                     <div class="form-group">
                        <label for="password" class="lead text-muted">Confirm your password</label>

                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text">
                                 <i class="fa fa-lock"></i>
                              </span>
                           </div>

                           <input [(ngModel)]="userData.password" type="password" class="form-control" id="password" placeholder="Enter confirm password"/>
                        </div>
                     </div>
                  </div>
               </div>


               <div class="row">
                  <div class="col-12 col-lg-6 mb-0">
                     <div class="form-group">
                        <label class="lead text-muted">Name(s) <span class="text-danger">*</span></label>

                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text">
                                 <i class="fa fa-user"></i>
                              </span>
                           </div>

                           <input [(ngModel)]="userData.first_name" type="text" class="form-control" placeholder="Enter your names"/>
                        </div>
                     </div>
                  </div>

                  <div class="col-12 col-lg-6 mb-0">
                     <div class="form-group">
                        <label for="last_name" class="lead text-muted">
                           Surnames <span class="text-danger">*</span>
                        </label>

                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text">
                                 <i class="fa fa-user"></i>
                              </span>
                           </div>

                           <input [(ngModel)]="userData.last_name" type="text" class="form-control" id="last_name" placeholder="Enter your last name"/>
                        </div>
                     </div>
                  </div>


               </div>

               <div class="row">
                  <div class="col-12 col-lg-4 mb-2">
                     <div class="form-group">
                        <label class="lead text-muted">Country <span class="text-danger">*</span></label>

                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text">
                                 <i class="fa fa-flag"></i>
                              </span>
                           </div>

                           <select [(ngModel)]="idCountry" class="custom-select" (ngModelChange)="getAllStates()">
                              <option selected>Select Country</option>
                              <option value="{{country.id}}" *ngFor="let country of countries">{{country.name}}</option>
                           </select>
                        </div>
                     </div>
                  </div>


                  <div class="col-12 col-lg-4 mb-2">
                     <div class="form-group">
                        <label class="lead text-muted">Area <span class="text-danger">*</span></label>

                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text">
                                 <i class="fa fa-flag"></i>
                              </span>
                           </div>

                           <select [(ngModel)]="idState" class="custom-select" (ngModelChange)="getAllCities()">
                              <option selected>Select State</option>
                              <option value="{{state['id']}}" *ngFor="let state of states">{{state['name']}}
                              </option>
                           </select>
                        </div>
                     </div>
                  </div>


                  <div class="col-12 col-lg-4 mb-2">
                     <div class="form-group">
                        <label class="lead text-muted">City <span class="text-danger">*</span></label>

                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text">
                                 <i class="fa fa-building"></i>
                              </span>
                           </div>

                           <select [(ngModel)]="userData.id_location" class="custom-select">
                              <option selected>Select city</option>
                              <option value="{{city.id}}" *ngFor="let city of cities ">{{city.name}}</option>
                           </select>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-12 col-lg-6 mb-0">


               <div class="form-group">
                  <label class="lead text-muted">Birth Date <span class="text-danger">*</span></label>

                  <div class="input-group">
                     <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="fa fa-birthday-cake"></i>
                        </span>
                     </div>

                     <input class="form-control" [(ngModel)]="birthDate" [minDate]="minDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #e="ngbDatepicker" (click)="e.toggle()"/>

                     <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="e.toggle()" type="button">
                           <i class="fa fa-angle-down"></i>
                        </button>
                     </div>
                  </div>
               </div>


            </div>

            <div class="col-12 col-lg-6 mb-0">
               <div class="form-group">
                  <label class="lead text-muted">Gender <span class="text-danger">*</span></label>

                  <div class="input-group">
                     <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="fa fa-venus-mars"></i>
                        </span>
                     </div>

                     <select [(ngModel)]="userData.gender" class="custom-select" (ngModelChange)="getAllCities()">
                        <option selected>Select gender</option>
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                        <option value="M">Other</option>
                     </select>
                  </div>
               </div>
            </div>


            <div class="col-12 mt-2">
               <hr class="my-4"/>
            </div>

            <div class="col-12 text-center mb-0">
               <label class="lead text-muted">Searching For *</label>
            </div>

            <div class="col-12 mb-0">
               <div class="row">
                  <div class="col-3 text-center">
                     <div class="form-check">
                        <input [(ngModel)]="userData.user_bachelor" class="form-check-input" type="checkbox"/>

                        <label class="form-check-label">
                           Bachelor
                        </label>
                     </div>
                  </div>

                  <div class="col-3 text-center">
                     <div class="form-check">
                        <input [(ngModel)]="userData.user_master" class="form-check-input" type="checkbox"/>

                        <label class="form-check-label">
                           Master
                        </label>
                     </div>
                  </div>

                  <div class="col-3 text-center">
                     <div class="form-check">
                        <input [(ngModel)]="userData.user_phd" class="form-check-input" type="checkbox"/>

                        <label class="form-check-label">
                           PhD
                        </label>
                     </div>
                  </div>

                  <div class="col-3 text-center">
                     <div class="form-check">
                        <input [(ngModel)]="userData.user_chortcourse" class="form-check-input" type="checkbox"/>

                        <label class="form-check-label">
                           Short Course
                        </label>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-12 mt-3">
               <hr class="my-4"/>
            </div>

            <div class="col-12">
               <div class="col-12 mb-2 text-center">
                  <label class="lead text-muted">When Do You Want To Study</label>
               </div>

               <div class="col-12 mb-0">
                  <div class="row">
                     <div class="col-2" *ngFor="let year of years">
                        <button class="btn {{ year === userData.study_year ? 'btn-primary' : 'btn-outline-primary' }} btn-block" (click)="userData.study_year = year">{{ year }}</button>
                     </div>
                  </div>
               </div>
            </div>


            <div class="col-12 mb-0 mt-4">
               <div class="row">
                  <div class="col-4 m-0 p-0"></div>

                  <div class="col-4 m-0 p-0">
                     <button (click)="update()" class="btn btn-outline-success btn-lg btn-block" [disabled]="
                           userData.user_name   == null || userData.user_name    == '' ||
                           userData.email       == null || userData.email        == '' ||
                           userData.first_name  == null || userData.first_name   == '' ||
                           userData.last_name   == null || userData.last_name    == ''
                        ">

                        SAVE & CONTINUE
                     </button>
                  </div>

                  <div class="col-4 m-0 p-0"></div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-12 mb-0" *ngIf="showForm == 'container_previous_studies'" id="container_previous_studies">
         <div class="row">
            <div class="col-12 mb-4 p-0 rounded-top">
               <header>
                  <h1 class="text-center mb-0 display-4">Previous studies</h1>
               </header>
            </div>

            <div class="col-12 mb-0">
               <div class="row">
                  <div class="col-12 col-lg-6 mb-0">
                     <div class="form-group">
                        <label class="lead text-muted">Institution Name</label>

                        <!--<input [(ngModel)]="previousStudes.university_user" type="text" class="form-control" id="user_name" placeholder="University / college name" />-->

                        <div class="ng-autocomplete">
                           <ng-autocomplete [data]="universities" [searchKeyword]="fieldUniversitiesKeyword" (selected)="selectUniversitiesEvent($event)" (inputCleared)="onClearedUniversities()" (inputChanged)="onChangeSearchUniversities($event)" [itemTemplate]="itemTemplateUniversities"
                                            [notFoundTemplate]="notFoundTemplateUniversities" #field_autocomplete_universities placeHolder="Institution Name">
                           </ng-autocomplete>

                           <ng-template #itemTemplateUniversities let-item>
                              <a [innerHTML]="item.name_institution"></a>
                           </ng-template>

                           <ng-template #notFoundTemplateUniversities let-notFound>
                              <div [innerHTML]="notFound"></div>
                           </ng-template>
                        </div>
                     </div>
                  </div>

                  <div class="col-12 col-lg-6 mb-0">
                     <div class="form-group">
                        <label class="lead text-muted">Degree Level</label>

                        <!--<input [(ngModel)]="previousStudes.degree_user" type="text" class="form-control" placeholder="bachelor master"/>-->

                        <!--
                        <div class="ng-autocomplete">
                           <ng-autocomplete [data]="disciplines" (selected)="selectDisciplineEvent($event)" [searchKeyword]="fieldDisciplinesKeyword" [itemTemplate]="itemTemplateDiscipline" [notFoundTemplate]="notFoundTemplateDiscipline" #field_autocomplete_discipline placeHolder="Bachelor, Masters">
                           </ng-autocomplete>

                           <ng-template #itemTemplateDiscipline let-item>
                              <a [innerHTML]="item.name_discipline"></a>
                           </ng-template>

                           <ng-template #notFoundTemplateDiscipline let-notFound>
                              <div [innerHTML]="notFound"></div>
                           </ng-template>
                        </div>
                        -->

                        <input
                           list="list_disciplines"
                           class="form-control"
                           [(ngModel)]="this.previousStudes.degree_user"
                        />

                        <datalist id="list_disciplines">
                           <option>High school student</option>
                           <option>High school diploma</option>
                           <option>Associate degree</option>
                           <option>Bachelor degree</option>
                           <option>Master degree</option>
                           <option>Doctoral degree</option>
                           <option>Course</option>
                        </datalist>
                     </div>
                  </div>

                  <div class="col-12 col-lg-4 mb-0">
                     <div class="form-group">
                        <label for="first_name" class="lead text-muted">Field of study</label>
                        <input [(ngModel)]="previousStudes.field_user" type="text" class="form-control" id="first_name" placeholder="business, law, marketing...."/>
                     </div>
                  </div>

                  <div class="col-12 col-lg-4 mb-0">
                     <div class="form-group">
                        <label for="last_name" class="lead text-muted">Country</label>

                        <select [(ngModel)]="previousStudes.id_country" class="custom-select">
                           <option selected>Select Country</option>
                           <option value="{{country.id}}" *ngFor="let country of countries">{{country.name}}
                           </option>
                        </select>
                     </div>
                  </div>

                  <div class="col-12 col-lg-4 mb-0">
                     <div class="form-group">
                        <label class="lead text-muted">End year (or expected)</label>

                        <div class="input-group">
                           <input [(ngModel)]="previousStudes.end_user" type="number" class="form-control" placeholder="End year" [disabled]="peEndYearCurrent"/>

                           <div class="input-group-append">
                              <div class="input-group-text border-right-0">
                                 <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)]="peEndYearCurrent">
                              </div>

                              <span class="input-group-text font-weight-bold border-left-0 pl-0">Current</span>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-12 mb-0">
                     <div class="row">
                        <div class="col-4">
                           <button class="btn btn-outline-success btn-block mt-2 mb-4" (click)="createAll('user_data/previous_studies', previousStudes, resetPreviousStudes())">

                              SAVE
                           </button>
                        </div>

                        <div class="col-4"></div>

                        <div class="col-4">
                           <button class="btn btn-outline-success btn-block mt-2 mb-4" (click)="createAll('user_data/previous_studies', previousStudes, resetPreviousStudes(), 'container_languages')">

                              SAVE & CONTINUE
                           </button>
                        </div>
                     </div>
                  </div>

                  <div class="col-12" *ngIf="false">
                     <h4 class="text-center">List of previous studies</h4>
                  </div>

                  <div class="col-12 mb-0">
                     <table class="table table-sm table-bordered table-hover">
                        <thead>
                           <tr>
                              <th scope="col">Institution Name</th>
                              <th scope="col">Degree Status</th>
                              <th scope="col">Major/area of study</th>
                              <th scope="col">Country</th>
                              <th scope="col">End Date</th>
                              <th scope="col" style="width: 120px;">Action</th>
                           </tr>
                        </thead>

                        <tbody>
                           <tr *ngFor="let previous of previousStudesList" class="text-muted">
                              <td class="font-weight-normal">{{previous.university_user}}</td>
                              <td class="font-weight-normal">{{previous.degree_user}}</td>
                              <td class="font-weight-normal">{{previous.field_user}}</td>
                              <td class="font-weight-normal">{{previous['name']}}</td>
                              <td class="font-weight-normal">{{previous.end_user}}</td>
                              <td class="font-weight-normal">
                                 <button type="button" class="btn btn-sm btn-outline-danger btn-block" (click)="destroyAll(previous.id_previous)">
                                    Delete
                                 </button>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-12 mb-0" *ngIf="showForm == 'container_languages'" id="container_languages">
         <div class="row">
            <div class="col-12 mb-4 p-0 rounded-top">
               <header>
                  <h1 class="text-center mb-0 display-4">What languages do you speak</h1>
               </header>
            </div>

            <div class="col-12 mb-0">
               <div class="row">
                  <div class="col-6">
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                           <label class="input-group-text">Language:</label>
                        </div>

                        <input list="list_languages" [(ngModel)]="languajeStudies['language_name']" class="custom-select">

                        <datalist id="list_languages">
                           <option [value]="langua" *ngFor="let langua of language">
                        </datalist>
                     </div>
                  </div>

                  <div class="col-6">
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                           <label class="input-group-text">Level:</label>
                        </div>

                        <input list="list_language_level" [(ngModel)]="languajeStudies['language_level']" class="form-control">

                        <datalist id="list_language_level">
                           <option value="Elementary">Elementary</option>
                           <option value="Intermediate">Intermediate</option>
                           <option value="Bilingual">Bilingual</option>
                           <option value="Native">Native</option>
                        </datalist>
                     </div>
                  </div>
               </div>


               <div class="row">
                  <div class="col-4">
                     <button class="btn btn-outline-success btn-block" type="button" (click)="createAll('user_data/language_user', languajeStudies, resetLanguaje())">

                        SAVE
                     </button>
                  </div>

                  <div class="col-4"></div>

                  <div class="col-4">
                     <button class="btn btn-outline-success btn-block mb-3" (click)="createAll('user_data/language_user', languajeStudies, resetLanguaje(), 'container_tests')">
                        SAVE & CONTINUE
                     </button>
                  </div>
               </div>

               <div class="row">
                  <div class="col-12 col-lg-12">
                     <table class="table table-sm table-bordered table-hover">
                        <thead>
                        <tr>
                           <th scope="col">Language</th>
                           <th scope="col">Level</th>
                           <th scope="col" style="max-width: 100px;">Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr *ngFor="let language of languajeStudiesList">
                           <td>{{language['language_name']}}</td>
                           <td>{{language['language_level']}}</td>
                           <td style="width: 120px;">
                              <button type="button" class="btn btn-sm btn-outline-danger btn-block" (click)="destroyAllLanguage(language['id_language'])">
                                 Delete
                              </button>
                           </td>
                        </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-12 mb-0" *ngIf="showForm == 'container_tests'" id="container_tests">
         <div class="row">
            <div class="col-12 mb-4 p-0 rounded-top">
               <header>
                  <h1 class="text-center mb-0 display-4">Tests</h1>
               </header>
            </div>

            <div class="col-12 mb-0">
               <div class="row">
                  <div class="col-5">
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                           <label class="input-group-text">Language test:</label>
                        </div>

                        <select [(ngModel)]="testUsu.type_test" class="custom-select" aria-label="Example select with button addon">
                           <option value=""></option>
                           <option value="IELTS">IELTS</option>
                           <option value="TOELF">TOELF</option>
                        </select>
                     </div>
                  </div>

                  <div class="col-5">
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                           <label class="input-group-text">Score:</label>
                        </div>

                        <input type="text" [(ngModel)]="testUsu.score" required class="form-control" id="language_name" aria-label="Example select with button addon"/>
                     </div>
                  </div>

                  <div class="col-2">
                     <button class="btn btn-outline-success btn-block" type="submit" (click)="createAll('user_data/test_user',testUsu, resetTest())" [disabled]="
                           testUsu.score == null   || testUsu.type_test == null ||
                           testUsu.score == ''     || testUsu.type_test == ''
                        ">

                        SAVE
                     </button>
                  </div>

                  <div class="col-5">
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                           <label class="input-group-text">Admission test:</label>
                        </div>

                        <select [(ngModel)]="testUsu.type_test2" required class="custom-select" aria-label="Example select with button addon">
                           <option value=""></option>
                           <option value="SAT">SAT</option>
                           <option value="ACT">ACT</option>
                           <option value="GMAT">GMAT</option>
                           <option value="GRE">GRE</option>
                        </select>
                     </div>
                  </div>

                  <div class="col-5">
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                           <label class="input-group-text">Score:</label>
                        </div>

                        <input type="text" required [(ngModel)]="testUsu.core2" class="form-control" id="core2" aria-label="Example select with button addon"/>
                     </div>
                  </div>

                  <div class="col-2">
                     <button class="btn btn-outline-success btn-block" type="submit" (click)="createAll('user_data/test_user',testUsu, resetTest())" [disabled]="
                           testUsu.core2 == null   || testUsu.type_test2 == null ||
                           testUsu.core2 == ''     || testUsu.type_test2 == ''
                        ">

                        SAVE
                     </button>
                  </div>

                  <div class="col-5">
                     <button class="btn btn-outline-success btn-block mt-2 mb-4" (click)="showForm = 'container_tets'">
                        CONTINUE
                     </button>
                  </div>

                  <div class="col-12 col-lg-12">
                     <table class="table table-sm table-bordered table-hover">
                        <thead>
                        <tr>
                           <th scope="col">Test</th>
                           <th scope="col">Score</th>
                           <th scope="col" style="max-width: 100px;">Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr *ngFor="let test of testUsuList">
                           <td *ngIf="test.type_test && test.score ">{{test.type_test}}</td>
                           <td *ngIf="test.type_test && test.score ">{{test.score}}</td>

                           <td *ngIf="test.type_test2 && test.core2 ">{{test.type_test2}}</td>
                           <td *ngIf="test.type_test2 && test.core2 ">{{test.core2}}</td>

                           <td style="width: 120px;">
                              <button type="button" class="btn btn-sm btn-outline-danger btn-block" (click)="destroyTest(test.id)">
                                 Delete
                              </button>
                           </td>
                        </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-12 mb-0" *ngIf="showForm == 'container_tets'" id="container_tets">
         <div class="row">
            <div class="col-12 mb-4 p-0 rounded-top">
               <header>
                  <h1 class="text-center mb-0 display-4">Work experience</h1>
               </header>
            </div>

            <div class="col-12 mb-0">
               <div class="row">
                  <div class="col-12 col-lg-4 mb-0">
                     <div class="form-group">
                        <label for="employer_name" class="lead text-muted">Company name</label>
                        <input [(ngModel)]="experience.employer_name" type="text" class="form-control" id="employer_name" placeholder="Company name"/>
                     </div>
                  </div>


                  <div class="col-12 col-lg-4 mb-0">
                     <div class="form-group">
                        <label class="lead text-muted">Industry</label>

                        <input list="list_industries" [(ngModel)]="experience.industry_job" class="form-control" placeholder="Industry"/>

                        <datalist id="list_industries">
                           <option [value]="indus" *ngFor="let indus of industries">
                        </datalist>
                     </div>
                  </div>


                  <div class="col-12 col-lg-4 mb-0">
                     <div class="form-group">
                        <label for="last_name" class="lead text-muted">Country/region</label>

                        <select [(ngModel)]="experience.id_countri" class="custom-select">
                           <option selected>Select Country</option>
                           <option value="{{country.id}}" *ngFor="let country of countries">{{country.name}}</option>
                        </select>
                     </div>
                  </div>


                  <div class="col-12 col-lg-4 mb-0">
                     <div class="form-group">
                        <label for="job_title" class="lead text-muted">Job Title</label>

                        <input [(ngModel)]="experience.job_title" type="text" class="form-control" id="job_title" placeholder="Job Title"/>
                     </div>
                  </div>

                  <div class="col-12 col-lg-4 mb-0">
                     <div class="form-group">
                        <label class="lead text-muted">Start date</label>
                        <div class="input-group">
                           <input class="form-control" [(ngModel)]="startDate" [minDate]="minDate" placeholder="yyyy-mm-dd" name="do" ngbDatepicker #b="ngbDatepicker" (click)="b.toggle()"/>

                           <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="b.toggle()" type="button">
                                 <i class="fa fa-angle-down"></i>
                              </button>
                           </div>
                        </div>

                     </div>
                  </div>

                  <div class="col-12 col-lg-4 mb-0">
                     <div class="form-group">
                        <label class="lead text-muted">End date</label>

                        <div class="input-group">
                           <input class="form-control" [(ngModel)]="endDate" [minDate]="minDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" [disabled]="weEndDateCurrent"/>

                           <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button" [disabled]="weEndDateCurrent">
                                 <i class="fa fa-angle-down"></i>
                              </button>
                           </div>

                           <div class="input-group-append">
                              <div class="input-group-text border-right-0">
                                 <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)]="weEndDateCurrent"/>
                              </div>

                              <span class="input-group-text font-weight-bold border-left-0 pl-0">Current</span>
                           </div>
                        </div>

                     </div>
                  </div>

                  <div class="col-12 mb-0">
                     <div class="row">
                        <div class="col-4">
                           <button class="btn btn-outline-success btn-block mt-2 mb-4" (click)="createAllExperie()">
                              SAVE
                           </button>
                        </div>

                        <div class="col-4"></div>

                        <div class="col-4"></div>
                     </div>
                  </div>

                  <div class="col-12 mb-0">
                     <table class="table table-sm table-bordered table-hover">
                        <thead>
                        <tr>
                           <th scope="col">Company name</th>
                           <th scope="col">Job Title</th>
                           <th scope="col">Industry</th>
                           <th scope="col">Start Date</th>
                           <th scope="col">End Date</th>
                           <th scope="col">Country</th>
                           <th scope="col" style="width: 120px;">Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr *ngFor="let experiList of workExperiList">
                           <td>{{experiList.employer_name}}</td>
                           <td>{{experiList.job_title}}</td>
                           <td>{{experiList.industry_job}}</td>
                           <td>{{experiList.start_date}}</td>
                           <td>{{experiList.end_date}}</td>
                           <td>{{experiList.name}}</td>
                           <td>
                              <button type="button" class="btn btn-sm btn-outline-danger btn-block" (click)="destroyAllExperience(experiList.id)">
                                 Delete
                              </button>
                           </td>
                        </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>


<div id="form_contact_alert" class="alert alert-{{ alert['type'] }} alert-dismissible fade {{ alert['show'] }}" role="alert">
   {{ alert['message'] }}

   <!--
   <button type="button" class="close" (click)="alert['show'] = ''">
      <span aria-hidden="true">&times;</span>
   </button>
   -->
</div>

<button id="showOrHideFilters" class="btn btn-default btn-light border-right border-bottom border-secondary" (click)="showOrHideFilters = !showOrHideFilters">
   <i [class]="'fa fa-angle-' + (showOrHideFilters ? 'left' : 'right')"></i>
</button>
