@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';


.btn-outline-success {
    color: #ee3157 !important;
    border-color: #ee3157 !important;
}


.btn-outline-success:hover {
    color: #FFFFFF !important;
    background-color: #ee3157 !important;
}


body {
    overflow: hidden;
}

#content {
    display: flex;
    align-items: stretch;
    .showFilters {
        left: 0 !important;
    }
    #menu_lateral {
        @media screen and (min-width: 991px) {
            min-width: 420px !important;
            max-width: 420px !important;
        }
        @media screen and (max-width: 992px) {
            min-width: 100% !important;
            max-width: 100% !important;
            position: absolute;
            z-index: 1000;
            background-color: #FFFFFF;
            left: -100%;
            -webkit-transition: left .3s;
            /* Safari prior 6.1 */
            transition: left .3s;
        }
        height: calc(100vh - 100px);
        overflow-y: auto;
        flex-grow: 1;
        border-right: 1px solid rgba(0, 0, 0, .12);
    }
    #container_dropify {
        width: 200px !important;
        margin: 0 auto;
    }
    #results {
        flex-grow: 9;
        padding: 25px 25px;
        height: calc(100vh - 100px);
        overflow-y: auto;
        .col-12 {
            background-color: #FFFFFF;
            margin-bottom: 20px;
        }
    }
}

#image_lateral {
    min-height: 200px;
}

#container_user {
    .input-group {
        .input-group-text {
            background-color: transparent;
            border-right: none;
            min-width: 40px;
            max-width: 40px;
            display: flex;
            justify-content: center;
            color: #ced4da !important;
            padding: 6px 20px;
        }
        input,
        select {
            border-left: none;
            padding-left: 0;
        }
        input:focus,
        select:focus {
            border-color: #ced4da !important;
            box-shadow: none;
        }
    }
}

.form-group label {
    font-size: 1rem;
}

#form_contact_alert {
    position: fixed;
    top: 120px;
    right: 20px;
}

#showOrHideFilters {
    display: none;
}

@media screen and (max-width: 992px) {
    #showOrHideFilters {
        display: inline !important;
        position: absolute;
        top: 100px;
        left: 0;
        border-radius: 0 0 .25rem 0;
        border-left: none;
        border-top: none;
        padding: .375rem 0.3rem !important;
        background-color: #003c68 !important;
        color: #FFFFFF;
        z-index: 1001;
    }
}