body {
    font-family: 'Montserrat', sans-serif;
}

#container_page {
    min-height: 100vh;
    //padding-bottom: 177px;
}

app-footer {
    min-width: 100%;
    max-width: 100%;
    clear: both;
    position: absolute;
    margin-top: -225px;
}
