body {
   overflow: hidden;
}

#content {
   display: flex;
   align-items: stretch;

   .showFilters {
      left: 0 !important;
   }

   #menu_lateral {
      @media screen and (min-width: 991px) {
         min-width: 420px !important;
         max-width: 420px !important;
      }

      @media screen and (max-width: 992px) {
         min-width: 100% !important;
         max-width: 100% !important;
         position: absolute;
         z-index: 1000;
         background-color: #FFFFFF;
         left: -100%;
         -webkit-transition: left .3s; /* Safari prior 6.1 */
         transition: left .3s;
      }

      height: calc(100vh - 100px);
      overflow-y: auto;
      flex-grow: 1;
      border-right: 1px solid rgba(0, 0, 0, .12);
   }


      .nav-pills .nav-link {
         background-color: #fafafa;
         padding-right: 20px;

         button {
            position: absolute;
            top: 2px;
            right: 5px;
         }
      }
      

      .nav-pills .nav-link.active {
         background-color: #eeeeee;
      }
   

   #results {
      // background-color: #eeeeee;
      flex-grow: 9;
      padding: 25px 40px;
      height: calc(100vh - 100px);
      overflow-y: auto;


      .card {
         border: none;
         box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
      }
   }
}


.spinner-border {
   position: absolute;
   left: calc(50vw - 1rem);
   top: calc(50vh - 1rem);
}



.fa-clock-o,
.fa-graduation-cap {
   font-size: 50px;
}

.fa-money {
   font-size: 40px;
   margin: 0;
}

#showOrHideFilters {
   display: none;
}


@media screen and (max-width: 992px) {
   #showOrHideFilters {
      display: inline !important;
      position: absolute;
      top: 100px;
      left: 0;
      border-radius: 0 0 .25rem 0;
      border-left: none;
      border-top: none;
      padding: .375rem 0.3rem !important;
      background-color: #003c68 !important;
      color: #FFFFFF;
      z-index: 1001;
   }
}

