<div id="content">
   <section id="menu_lateral" class="pt-3 pb-3 pl-4 pr-4 {{ showOrHideFilters ? 'showFilters' : '' }}">

      <div class="row">
         <div class="col-12 mb-2">
            <h5 class="font-weight-bold">What do you want to study?</h5>
         </div>

         <div class="col-12">
            <div class="form-group">
               <label class="text-primary small">Field of study</label>

               <div class="ng-autocomplete">
                  <ng-autocomplete
                     [data]="disciplines"
                     [searchKeyword]="fieldDisciplinesKeyword"
                     [(ngModel)]="searchFieldData"
                     (selected)="selectDisciplineEvent($event)"
                     (inputCleared)="onClearedDiscipline()"
                     (inputFocused)='onFocusedDiscipline($event)'
                     [itemTemplate]="itemTemplateDiscipline"
                     (keyup.enter)="read(true)"
                     #field_autocomplete_disciplines
                     placeHolder="Business"
                     id="input_field_of_study">
                  </ng-autocomplete>

                  <ng-template #itemTemplateDiscipline let-item>
                     <a [innerHTML]="item.name_discipline"></a>
                  </ng-template>

                  <!--
                  <ng-template #notFoundTemplateDiscipline let-notFound>
                     <div [innerHTML]=""></div>
                  </ng-template>
                  -->
               </div>
            </div>
         </div>

         <div class="col-12">
            <div class="form-group">
               <label for="field_skills" class="text-primary small">Keywords (type to get more accurate results)</label>

               <input
                  type="text"
                  class="form-control font-italic"
                  id="field_skills"
                  placeholder="Innovation, Strategy"
                  (focusin)="onFocusedKeyWords()"
                  [(ngModel)]="skills"
                  (keydown.enter)="read(true)"
               />
            </div>
         </div>

         <div class="col-12" [hidden]="typeCourses != null">
            <div class="form-group">
               <label class="text-primary small">Countries</label>

               <div class="ng-autocomplete">
                  <ng-autocomplete
                     [data]="countries"
                     [searchKeyword]="fieldCountriesKeyword"
                     (selected)="selectCountryEvent($event)"
                     (inputCleared)="onClearedCountries()"
                     (inputFocused)='onFocusedCountries($event)'
                     [itemTemplate]="itemTemplateCountries"
                     [notFoundTemplate]="notFoundTemplateCountries"
                     #field_autocomplete_countries
                     placeHolder="Select country">
                  </ng-autocomplete>

                  <ng-template #itemTemplateCountries let-item>
                     <a [innerHTML]="item.name"></a>
                  </ng-template>

                  <ng-template #notFoundTemplateCountries let-notFound>
                     <div [innerHTML]="notFound"></div>
                  </ng-template>
               </div>
            </div>
         </div>

         <div class="col-12" [hidden]="typeCourses != null">
            <div class="form-group">
               <label class="text-primary small">States</label>

               <div class="ng-autocomplete">
                  <ng-autocomplete
                     [data]="states"
                     [searchKeyword]="fieldStatesKeyword"
                     (selected)='selectStatesEvent($event)'
                     (inputCleared)="onClearedStates()"
                     (inputChanged)='onChangeSearchStates($event)'
                     (inputFocused)='onFocusedStates($event)'
                     [itemTemplate]="itemTemplateStates"
                     [notFoundTemplate]="notFoundTemplateStates"
                     #field_autocomplete_states
                     placeHolder="Select state"
                     disabled="{{ !idCountry }}">
                  </ng-autocomplete>

                  <ng-template #itemTemplateStates let-item>
                     <a [innerHTML]="item.name"></a>
                  </ng-template>

                  <ng-template #notFoundTemplateStates let-notFound>
                     <div [innerHTML]="notFound"></div>
                  </ng-template>
               </div>
            </div>
         </div>


         <div class="col-12" [hidden]="typeCourses != null">
            <div class="form-group">
               <label class="text-primary small">Cities</label>
               <div class="ng-autocomplete">
                  <ng-autocomplete
                     [data]="cities"
                     [searchKeyword]="fieldCitiesKeyword"
                     (selected)="selectCitiesEvent($event)"
                     (inputCleared)="onClearedCities()"
                     (inputChanged)="onChangeSearchCities($event)"
                     (inputFocused)='onFocusedCities($event)'
                     [itemTemplate]="itemTemplateCities"
                     [notFoundTemplate]="notFoundTemplateCities"
                     #field_autocomplete_cities
                     placeHolder="Select city"
                     disabled="{{ !idState && (idCountry && idCountry == 233) }}">>
                  </ng-autocomplete>

                  <ng-template #itemTemplateCities let-item>
                     <a [innerHTML]="item.name"></a>
                  </ng-template>

                  <ng-template #notFoundTemplateCities let-notFound>
                     <div [innerHTML]="notFound"></div>
                  </ng-template>
               </div>
            </div>
         </div>


         <div class="col-12" [hidden]="typeCourses != null">
            <div class="form-group">
               <label class="text-primary small">Universities</label>
               <div class="ng-autocomplete">
                  <ng-autocomplete
                     [data]="universities"
                     [searchKeyword]="fieldUniversitiesKeyword"
                     (selected)="selectUniversitiesEvent($event)"
                     (inputCleared)="onClearedUniversities()"
                     (inputChanged)="onChangeSearchUniversities($event)"
                     (inputFocused)='onFocusedUniversities($event)'
                     [itemTemplate]="itemTemplateUniversities"
                     [notFoundTemplate]="notFoundTemplateUniversities"
                     #field_autocomplete_universities
                     placeHolder="University">
                  </ng-autocomplete>

                  <ng-template #itemTemplateUniversities let-item>
                     <a [innerHTML]="item.name_institution"></a>
                  </ng-template>

                  <ng-template #notFoundTemplateUniversities let-notFound>
                     <div [innerHTML]="notFound"></div>
                  </ng-template>
               </div>
            </div>
         </div>


         <div class="col-6 mt-3 mb-4">
            <button class="btn btn-primary btn-block golondrix-blue" (click)="read(true); showOrHideFilters = false;">SEARCH</button>
         </div>

         <div class="col-6 mt-3 mb-4">
            <button class="btn btn-primary btn-block golondrix-blue" (click)="cleanFilters(); showOrHideFilters = false;">CLEAR</button>
         </div>


         <div class="col-12 mb-3">
            <label class="text-primary small">Degree level</label>

            <div class="row">
               <ng-container *ngIf="typeCourses == null">
                  <div class="col-12">
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="arrayData['bachelor']" (change)="read(true)">

                        <label class="form-check-label font-weight-normal">
                           Bachelor
                        </label>
                     </div>
                  </div>

                  <div class="col-12">
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="arrayData['master']" (change)="read(true)">

                        <label class="form-check-label font-weight-normal">
                           Master
                        </label>
                     </div>
                  </div>

                  <div class="col-12">
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="arrayData['phd']" (change)="read(true)">

                        <label class="form-check-label font-weight-normal">
                           Phd
                        </label>
                     </div>
                  </div>
               </ng-container>

               <div class="col-12">
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" [(ngModel)]="arrayData['shortCourse']" (change)="read(true)">

                     <label class="form-check-label font-weight-normal ">
                        Short Course
                     </label>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 mb-3" *ngIf="typeCourses == null">
            <label class="text-primary small">Mode</label>

            <div class="row">
               <div class="col-12">
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" [(ngModel)]="arrayData['face']" (change)="read(true)">

                     <label class="form-check-label font-weight-normal">
                        Face2Face
                     </label>
                  </div>
               </div>

               <div class="col-12">
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" [(ngModel)]="arrayData['online']" (change)="read(true)">

                     <label class="form-check-label font-weight-normal">
                        Online
                     </label>
                  </div>
               </div>

               <div class="col-12">
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" [(ngModel)]="arrayData['blended']" (change)="read(true)">

                     <label class="form-check-label font-weight-normal">
                        Blended
                     </label>
                  </div>
               </div>
            </div>
         </div>


         <div class="col-12">
            <label class="text-primary small">Program fee (USD)</label>

            <br/>

            <div class="form-check">
               <input class="form-check-input" type="checkbox" [(ngModel)]="arrayData['free']" (change)="read(true)">

               <label class="form-check-label font-weight-normal ">
                  Free
               </label>
            </div>

            <br>

            <div class="row mb-2">
               <div class="col-6 pr-1">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <span class="input-group-text">Min</span>
                     </div>

                     <input
                        [(ngModel)]="min"
                        type="number"
                        class="form-control form-control-sm text-right"
                        min="0"
                        [max]="max"
                        id="min_price"
                        placeholder="Min price"
                        title="this value must be greater than 0"
                        [disabled]="arrayData['free']"
                        (keyup.enter)="read(true)"
                        (keyup)="min = (min > max ? max : min)"
                     />
                  </div>
               </div>

               <div class="col-6 pl-1">
                  <div class="input-group input-group-sm">
                     <div class="input-group-prepend">
                        <span class="input-group-text">Max</span>
                     </div>

                     <input
                        [(ngModel)]="max"
                        type="number"
                        class="form-control form-control-sm text-right"
                        [min]="min"
                        max="300000"
                        id="max_price"
                        placeholder="Max price"
                        title="this value must be less than 300000"
                        [disabled]="arrayData['free']"
                        (keyup.enter)="read(true)"
                        (keyup)="max = (max < min ? min : max)"
                     />
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-12">
                  <select class="custom-select custom-select-sm" [(ngModel)]="arrayData['type_order']" (change)="read(true)">
                     <option selected [value]="null">-- Sort by fee --</option>
                     <option class="font-weight-normal" value="asc">Price: Low to High</option>
                     <option class="font-weight-normal" value="desc">Price: High to Low</option>
                   </select>
               </div>
            </div>
         </div>

         <div class="col-12 mt-3 mb-3" *ngIf="typeCourses == null">
            <label class="text-primary small">Attendance</label>

            <div class="row">
               <div class="col-12">
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" [(ngModel)]="arrayData['fullTime']" (change)="read(true)"/>

                     <label class="form-check-label font-weight-normal">
                        Full-Time
                     </label>
                  </div>
               </div>

               <div class="col-12">
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" [(ngModel)]="arrayData['partTime']" (change)="read(true)"/>

                     <label class="form-check-label font-weight-normal">
                        Part-Time
                     </label>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 mb-3">
            <label class="text-primary small">Duration</label>

            <div class="row">
               <div class="col-12">
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" [(ngModel)]="arrayData['lessDay']">

                     <label class="form-check-label font-weight-normal">
                        less than a day
                     </label>
                  </div>
               </div>

               <div class="col-12">
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" [(ngModel)]="arrayData['lessWeek']">

                     <label class="form-check-label font-weight-normal">
                        less than a week
                     </label>
                  </div>
               </div>

               <div class="col-12">
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" [(ngModel)]="arrayData['lessMonth']">

                     <label class="form-check-label font-weight-normal">
                        less than a month
                     </label>
                  </div>
               </div>

               <div class="col-12">
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" [(ngModel)]="arrayData['lessYear']" (change)="read(true)">

                     <label class="form-check-label font-weight-normal">
                        less than a year
                     </label>
                  </div>
               </div>
               <div class="col-12">
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" [(ngModel)]="arrayData['year1']" (change)="read(true)">

                     <label class="form-check-label font-weight-normal">
                        1 year
                     </label>
                  </div>
               </div>

               <div class="col-12">
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" [(ngModel)]="arrayData['year2']" (change)="read(true)">

                     <label class="form-check-label font-weight-normal">
                        2 years
                     </label>
                  </div>
               </div>

               <div class="col-12">
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" [(ngModel)]="arrayData['year4']" (change)="read(true)">

                     <label class="form-check-label font-weight-normal">
                        4 years
                     </label>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section id="results" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [scrollWindow]="false" (scrolled)="onScroll()">

      <div class="row">
         <p class="text-muted" *ngIf="countResults">Results: {{ countResults | number }}</p>


         <div
            class="col-12 pl-0 pr-0 rounded"
            *ngIf="
               arrayData['fullTime'] ||
               arrayData['partTime'] ||
               arrayData['bachelor'] ||
               arrayData['master'] ||
               arrayData['phd'] ||
               arrayData['shortCourse'] ||
               arrayData['free'] ||
               arrayData['face'] ||
               arrayData['online'] ||
               arrayData['blended'] ||
               arrayData['lessDay'] ||
               arrayData['lessWeek'] ||
               arrayData['lessMonth'] ||
               arrayData['lessYear'] ||
               arrayData['year1'] ||
               arrayData['year2'] ||
               arrayData['year4']
            ">

            <p class="mt-2 mb-2 d-flex align-items-center">
               <span *ngIf="arrayData['fullTime']" class="badge badge-pill badge-dark mr-2">Full-Time</span>
               <span *ngIf="arrayData['partTime']" class="badge badge-pill badge-dark mr-2">Part-Time</span>
               <span *ngIf="arrayData['bachelor']" class="badge badge-pill badge-dark mr-2">Bachelor</span>
               <span *ngIf="arrayData['master']" class="badge badge-pill badge-dark mr-2">Master</span>
               <span *ngIf="arrayData['phd']" class="badge badge-pill badge-dark mr-2">Phd</span>
               <span *ngIf="arrayData['shortCourse']" class="badge badge-pill badge-dark mr-2">Short Course</span>
               <span *ngIf="arrayData['free']" class="badge badge-pill badge-dark mr-2">Free</span>
               <span *ngIf="arrayData['face']" class="badge badge-pill badge-dark mr-2">Face2Face</span>
               <span *ngIf="arrayData['online']" class="badge badge-pill badge-dark mr-2">Online</span>
               <span *ngIf="arrayData['blended']" class="badge badge-pill badge-dark mr-2">Blended</span>
               <span *ngIf="arrayData['lessDay']" class="badge badge-pill badge-dark mr-2">Less-day</span>
               <span *ngIf="arrayData['lessWeek']" class="badge badge-pill badge-dark mr-2">Less-week</span>
               <span *ngIf="arrayData['lessMonth']" class="badge badge-pill badge-dark mr-2">Less-month</span>
               <span *ngIf="arrayData['lessYear']" class="badge badge-pill badge-dark mr-2">Less-year</span>
               <span *ngIf="arrayData['year1']" class="badge badge-pill badge-dark mr-2">1 year</span>
               <span *ngIf="arrayData['year2']" class="badge badge-pill badge-dark mr-2">2 year</span>
               <span *ngIf="arrayData['year4']" class="badge badge-pill badge-dark mr-2">4 year</span>
            </p>
         </div>

         <div class="col-12 rounded p-3 text-center" *ngIf="loggedIn && false">
            <h6>Hey, did you find what you were searching for?</h6>

            <p class="small m-0 d-flex justify-content-center align-items-center">
               We would love your feedback! Leave us your comments on how we can enhance Golondrix.

               <span id="showSeeMoreComment" class="badge badge-pill badge-primary btn mr-2 ml-2" (click)="showSeeMoreComment = !showSeeMoreComment">
                   {{ showSeeMoreComment ? 'Back' : 'Write a comment' }}
               </span>
            </p>

            <div class="card text-center mt-3" *ngIf="showSeeMoreComment">
               <div class="card-header">
                  Message
               </div>

               <div class="card-body p-0">
                  <textarea class="form-control border-0" id="textarea_send_message" rows="6" style="resize: none;" [(ngModel)]="CONTACT_FORM_DATA['comments']"></textarea>
               </div>

               <div class="card-footer text-muted bg-white p-0 border-0">
                  <button class="btn btn-primary btn-block rounded-0" (click)="sendFormContact()" [disabled]="CONTACT_FORM_DATA['comments'] == null || CONTACT_FORM_DATA['comments'] == ''">
                     SEND

                     <span *ngIf="SHOW_CONTACT_BUTTON_SPINNER" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  </button>
               </div>
            </div>
         </div>


         <div class="col-12 p-0">
            <a href="https://forms.gle/cGDpzaDXT7BfkQYu5" target="_target">
               <img src="assets/search-component/images/banner.jpg" alt="" class="img-fluid cursor-pointer" style="border-radius: 5px;" />
            </a>
         </div>


         <div class="col-12 p-0">
            <div class="row">
               <div class="col-6 pr-2">
                  <a class="btn golondrix-blue-dark btn-block cursor-pointer {{ typeCourses ? '' : 'active' }}" (click)="allOrOnlineCourses(null)">
                     ALL PROGRAMS
                  </a>
               </div>

               <div class="col-6 pl-2">
                  <a class="btn golondrix-red-dark btn-block cursor-pointer {{ typeCourses ? 'active' : '' }}" (click)="allOrOnlineCourses('online')" style="background-color: #ee3157;">
                     ONLINE COURSES(Beta)
                  </a>
               </div>
            </div>
         </div>


         <div class="col-12 rounded p-0 mb-4 mt-1" *ngFor="let course of courses">
            <div class="card">
               <div class="card-header bg-white font-weight-bold p-2 text-center d-flex justify-content-between align-items-center border-bottom-0">
                  <span *ngIf="course['id_history'] == null"></span>

                  <span
                     *ngIf="course['id_history'] != null"
                     class="badge badge-pill badge-secondary float-left cursor-pointer"
                     routerLink="/history/{{ course['id_history'] }}">

                     Visited
                  </span>

                  <span class="">{{ course.name_course }}</span>

                  <span class="badge badge-pill badge-primary float-right">{{course.type}}</span>
               </div>

               <div class="card-body">
                  <div class="row">
                     <div class="col-12 col-sm-2 d-flex justify-content-center p-0 pl-0 pl-lg-2" *ngIf="course['url'] != null">
                        <img src="{{ course['url'] }}" alt="" class="img-fluid align-self-center">
                     </div>

                     <div class="col-12 col-sm-{{ course['url'] != null ? '10' : '12' }}">
                        <div class="d-flex align-items-center mb-2">
                           <h5 class="font-weight-bold text-muted name-institution mr-2 mb-0" [innerHTML]="course['institution']['name_institution']" style="display: inline-block;"></h5>
                           <span class="badge badge-pill badge-secondary mr-2" [innerHTML]="(course['city'] ? course['city'] : '') + (course['country'] ? ', ' + course['country'] : '')"></span>
                        </div>

                        <p class="mb-0 text-muted lead small" style="font-size: 15px;" [innerHTML]="course.description_course"></p>
                     </div>
                  </div>

                  <section class="see-more mt-4" *ngIf="course['showSeeMore']">

                     <div class="row">
                        <div class="col-12 col-lg-4">
                           <article class="border rounded p-4 text-center height-all bg-light">
                              <i class="fa fa-money icon-course-information-detail mb-3" aria-hidden="true"></i>

                              <h5 class="mb-2">Tuition Fee</h5>

                              <p class="text-info mb-0" *ngIf="course.type !== 'Platzi'">
                                 {{ course.tuition_fee_value ? (course.tuition_fee_value + ' ' + course.tuition_fee_currency + '/' + course.tuition_fee_unit) : 'Free' }}
                              </p>

                              <p class="text-info mb-0" *ngIf="course.type === 'Platzi'">Subscription</p>
                           </article>
                        </div>

                        <div class="col-12 col-lg-4">
                           <article class="border rounded pt-4 pb-4 pl-1 pr-1 text-center height-all bg-light">
                              <i class="fa fa-clock-o icon-course-information-detail mb-3" aria-hidden="true"></i>

                              <div class="row">
                                 <div class="col-6 text-right p-1">
                                    <h5 class="mb-0">Attendance:</h5>
                                 </div>

                                 <div class="col-6 text-left p-1">
                                    <p *ngIf="course.density_fulltime" class="text-info mb-0">Full-Time</p>
                                    <p *ngIf="course.density_parttime" class="text-info mb-0">Part-Time</p>
                                 </div>
                              </div>

                              <div class="row" *ngIf="course.duration">
                                 <div class="col-6 text-right p-1">
                                    <h5 class="mb-0">Duration:</h5>
                                 </div>

                                 <div class="col-6 text-left p-1">
                                    <p class="text-info mb-0">{{ course.duration }} Months</p>
                                 </div>
                              </div>
                           </article>
                        </div>

                        <div class="col-12 col-lg-4">
                           <article class="border rounded p-4 text-center height-all bg-light">
                              <i class="fa fa-graduation-cap icon-course-information-detail mb-3" aria-hidden="true"></i>

                              <h5 class="mb-2">Mode</h5>

                              <p class="text-info mb-0" *ngIf="course.methods_face2face">Face2Face</p>

                              <p class="text-info mb-0" *ngIf="course.methods_online">Online</p>

                              <p class="text-info mb-0" *ngIf="course.methods_blended">Blended</p>
                           </article>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-12" *ngIf="course['full_description'] != null && course['full_description'] != ''">
                           <h5 class="font-weight-bold">About</h5>

                           <p class="text-muted" [innerHTML]="course['full_description']"></p>
                        </div>

                        <div class="col-12" *ngIf="course['requirements'] != null && course['requirements'] != ''">
                           <h5 class="font-weight-bold">Requirements</h5>

                           <p class="text-muted" [innerHTML]="course['requirements']"></p>

                        </div>
                        <div class="col-12 text-center">
                           <a class="btn btn-primary golondrix-blue" *ngIf="course['type'] != 'Edx' && ((course['courses_details'] && course['courses_details']['url_university']) || course['institution']['url'])" [href]="(course['courses_details'] && course['courses_details']['url_university']) ? course['courses_details']['url_university'] : course['institution']['url']" target="_blank">Visit Program Website</a>

                           <a class="btn btn-primary golondrix-blue" *ngIf="course['type'] == 'Edx' && course['url_curso']" [href]="course['url_curso']" target="_blank">Visit Program Website</a>
                        </div>
                     </div>
                  </section>
               </div>

               <div class="card-footer bg-white p-2 border-top-0">
                  <div class="row">
                     <div class="col-6 col-lg-3">
                        <button class="btn btn-info btn-block btn-sm golondrix-blue" (click)="onClickSaveHistoryButton(course)">
                           READ {{ course['showSeeMore'] ? 'LESS' : 'MORE' }}
                        </button>
                     </div>

                     <div class="col-6 col-lg-3 offset-lg-6">
                        <button class="btn text-white btn-block btn-sm save golondrix-red-dark" (click)="onClickSaveButton(course)" *ngIf="course['id_favorite'] == null">
                           SAVE
                        </button>

                        <button class="btn text-white btn-block btn-sm save golondrix-red-dark" routerLink="/favorites/{{ course['id_favorite'] }}" *ngIf="course['id_favorite'] != null">
                           <i class="fa fa-heart mr-1"></i> SAVED
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>


         <div class="col-12 mb-0 bg-transparent lead text-center">
            <div class="spinner-border" role="status" *ngIf="showLoading">
               <span class="sr-only">Loading...</span>
            </div>


            <ng-container *ngIf="showNotResults">
               <div class="col-12 mb-4 text-center">
                  <img src="../../../assets/search-component/images/not_results_image.png" alt="" class="img-fluid" style="height: 250px; max-height: calc(100vh - 200px);"/>
               </div>

               <div class="col-12 text-center mb-4">
                  <p class="lead font-weight-bold mb-2">Sorry! we haven’t found programs with your specifications.</p>
                  <p class="lead text-muted">Try again with different filters. We will find the right options for you!</p>
               </div>

               <div class="col-12 text-center">
                  <button class="btn btn-primary rounded-pill" (click)="cleanFilters()">CLEAN ALL FILTERS</button>
               </div>
            </ng-container>
         </div>
      </div>
   </section>
</div>


<button id="showOrHideFilters" class="btn btn-default btn-light border-right border-bottom border-secondary" (click)="showOrHideFilters = !showOrHideFilters">
   <i [class]="'fa fa-angle-' + (showOrHideFilters ? 'left' : 'right')"></i>
</button>


<div id="form_contact_alert" class="alert alert-{{ ALERT_TYPE }} alert-dismissible fade {{ ALERT_SHOW }}" role="alert">
   {{ ALERT_MESSAGE }}

   <button *ngIf="false" type="button" class="close" (click)="ALERT_SHOW = ''">
      <span aria-hidden="true">&times;</span>
   </button>
</div>
