body {
   overflow: hidden;
}


.golondrix-blue-dark.active {
   background-color: #003c68 !important;
   border-color: #003c68 !important;
   color: #FFFFFF !important;
}

.golondrix-blue-dark {
   background-color: #003c68b3 !important;
   border-color: transparent !important;
   color: #FFFFFF !important;
}

.golondrix-red-dark.active {
   background-color: #ee3157b3;
   border-color: transparent !important;
   color: #FFFFFF !important;
}

.golondrix-red-dark {
   background-color: #ee3157;
   border-color: transparent !important;
   color: #FFFFFF !important;
}


#content {
   display: flex;
   align-items: stretch;

   .showFilters {
      left: 0 !important;
   }

   #menu_lateral {
      @media screen and (min-width: 991px) {
         min-width: 420px !important;
         max-width: 420px !important;
      }

      @media screen and (max-width: 992px) {
         min-width: 100% !important;
         max-width: 100% !important;
         position: absolute;
         z-index: 1000;
         background-color: #FFFFFF;
         left: -100%;
         -webkit-transition: left .3s; /* Safari prior 6.1 */
         transition: left .3s;
      }

      height: calc(100vh - 100px);
      overflow-y: auto;
      flex-grow: 1;
      border-right: 1px solid rgba(0, 0, 0, .12);
   }

   #results {
      height: calc(100vh - 100px);
      overflow-y: auto;
   }

   #results {
      // background-color: #eeeeee;
      flex-grow: 9;
      padding: 30px 40px;

      .col-12 {
         background-color: #FFFFFF;
         margin-bottom: 20px;
      }

      .container {
         background-color: #FFFFFF;
         margin-bottom: 20px;
      }

      .ng-autocomplete {
         width: 100%;
      }

      #textarea_send_message:focus {
         color: #495057;
         background-color: #fff;
         border-color: #80bdff;
         outline: 0;
         box-shadow: none;
      }

      .name-institution {
         font-weight: 500 !important;
      }

      .badge.badge-pill {
         font-weight: 500 !important;
         letter-spacing: 1px;
      }

      .card {
         border: none;
         box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
      }
   }
}


// Autocomplete fields
.ng-autocomplete {
   max-width: 100% !important;
   padding: 0 !important;

   .autocomplete-container {
      box-shadow: unset !important;
   }

   .autocomplete-container .input-container input {
      display: block;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      background-color: transparent;
      padding: .375rem 40px .375rem .75rem;
   }

   .autocomplete-container .input-container input:focus {
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
   }
}

.icon-course-information-detail {
   line-height: 50px !important;
}

.fondo {
   background-color: #eeeeee;
}

.fa-clock-o,
.fa-graduation-cap {
   font-size: 50px;
}

.fijo {
   height: 125px;
}

.fa-money {
   font-size: 40px;
   margin: 0;
}

.fijo p {
   font-size: 15px;
   margin: 0;
}

#description-seach {
   height: 100px;
}

#showSeeMoreComment {
   cursor: pointer;
}

#form_contact_alert {
   position: fixed;
   top: 120px;
   right: 20px;
}

.save {
   // background-color: #003c68;
}


.golondrix-blue {
   background-color: #2196f3;
   border-color: #2196f3;
   color: #FFFFFF;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
   background-color: #2196f3;
   border-color: #2196f3;
}

.nav-pills .nav-link, .nav-pills .show > .nav-link {
   background-color: rgba(33, 150, 243, 0.5);
   border-color: rgba(33, 150, 243, 0.5);
   color: #FFFFFF;
}


a {
   color: #2196f3;
}


#showOrHideFilters {
   display: none;
}

@media screen and (max-width: 992px) {
   #showOrHideFilters {
      display: inline !important;
      position: absolute;
      top: 100px;
      left: 0;
      border-radius: 0 0 .25rem 0;
      border-left: none;
      border-top: none;
      padding: .375rem 0.3rem !important;
      background-color: #003c68 !important;
      color: #FFFFFF;
      z-index: 1001;
   }
}
