/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

* {
   font-family: 'Poppins', sans-serif;
   margin-top: 0;
   font-weight: 700;
}

body {
   overflow-x: hidden !important;
   font-family: 'Poppins', sans-serif;
   margin-top: 0;
   font-weight: 700;
}

.cursor-pointer {
   cursor: pointer !important;
}

.height-all {
   height: 100% !important;
}

.width-all {
   width: 100% !important;
}

// Autocomplete fields
.ng-autocomplete {
   max-width: 100% !important;
   padding: 0 !important;

   .autocomplete-container {
      box-shadow: unset !important;
   }

   .autocomplete-container .input-container input {
      display: block;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
   }

   &#input_field_of_study .input-container input {
      font-style: italic;
   }

   .autocomplete-container .input-container input:focus {
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
   }

   .autocomplete-container .not-found {
      position: relative;
      z-index: 1000;
   }

   .suggestions-container.is-visible {
      z-index: 1000;
   }

   ul a {
      font-weight: 500;
   }
}


.ng-autocomplete.ng-autocomplete-body {
   max-width: 100% !important;
   padding: 0 !important;

   .autocomplete-container {
      box-shadow: unset !important;
   }

   .autocomplete-container .input-container input {
      display: block;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem 0 0 .25rem;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      background-color: #FFFFFF;
      padding: 24px 14px;
   }

   .autocomplete-container .input-container input:focus {
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
   }

   ul a {
      font-weight: 500;
   }
}
